<div [formGroup]="itemGroup" class="panel panel-level-2" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml(localEpisodicEffect.startDate, localEpisodicEffect.endDate)"></span>
        </span>
        <span *ngIf="localEpisodicEffect.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': localEpisodicEffect.dateDeleted}">
            <button [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the local episodic effect"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" localEpisodicEffect == null ">
            No information available for current Local Episodic Effect
        </div>
        <div *ngIf=" localEpisodicEffect != null" [ngClass]="{'container-dirty': localEpisodicEffect.dateDeleted}">
            <text-input formControlName="event" controlName="event" [form]="itemGroup">Event</text-input>
            <datetime-input [form]="itemGroup" controlName="startDate">Date Installed (UTC)</datetime-input>
            <datetime-input [form]="itemGroup" controlName="endDate" [required]="index != 0">Date Removed (UTC)</datetime-input>
        </div>
    </div>
</div>
