<div [formGroup]="itemGroup" class="panel panel-level-2" id="local-episodic-effect-{{index}}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleItem($event)"
            (keyup.enter)="toggleItem($event)"
            (click)="toggleItem($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="localEpisodicEffect.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': localEpisodicEffect.dateDeleted}">
            <button type="button" [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the local episodic effect"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{ getRemoveOrDeletedText() }}</span>
          </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div *ngIf=" localEpisodicEffect == null ">
            No information available for current {{ getItemName() }}
        </div>
        <div *ngIf=" localEpisodicEffect != null" [ngClass]="{'container-dirty': localEpisodicEffect.dateDeleted}">
            <textarea-input [form]="itemGroup" controlName="event" [required]="true">Event</textarea-input>
            <datetime-input [form]="itemGroup" controlName="startDate" [required]="true">Start Date (UTC)</datetime-input>
            <datetime-input [form]="itemGroup" controlName="endDate" [required]="index != 0">End Date (UTC)</datetime-input>
        </div>
    </div>
</div>
