<div [formGroup]="itemGroup" class="panel panel-level-2" id="humidity-sensor-{{index}}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleItem($event)"
            (keyup.enter)="toggleItem($event)"
            (click)="toggleItem($event)">
            <i class="glyphicon" [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="humiditySensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': humiditySensor.dateDeleted}">
            <button type="button" [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the humidity sensor"
                  (click)="removeItem(index)">
                <i class="glyphicon glyphicon-remove"></i> <span class="hidden-xs">{{ getRemoveOrDeletedText() }}</span>
            </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div *ngIf=" humiditySensor == null ">
            No information available for current {{ getItemName() }}
        </div>
        <div *ngIf="humiditySensor != null" [ngClass]="{'container-dirty': humiditySensor.dateDeleted}">
            <div class="form-group">
                <text-input [form]="itemGroup" controlName="manufacturer" [required]="true">Manufacturer</text-input>
                <text-input [form]="itemGroup" controlName="type" [required]="true">Type</text-input>
                <text-input [form]="itemGroup" controlName="serialNumber">Serial Number</text-input>
                <number-input [form]="itemGroup" controlName="dataSamplingInterval">Data Sampling Interval (seconds)</number-input>
                <number-input [form]="itemGroup" controlName="accuracyPercentRelativeHumidity" [required]="true">Accuracy (% rel h)</number-input>
                <text-input [form]="itemGroup" controlName="aspiration">Aspiration</text-input>
                <number-input [form]="itemGroup" controlName="heightDiffToAntenna" [required]="true">Height Diff to Antenna (m)</number-input>
                <datetime-input [form]="itemGroup" controlName="calibrationDate">Calibration Date</datetime-input>
                <datetime-input [form]="itemGroup" controlName="startDate" [required]="true">Date Installed (UTC)</datetime-input>
                <datetime-input [form]="itemGroup" controlName="endDate" [required]="index != 0">Date Removed (UTC)</datetime-input>
                <textarea-input [form]="itemGroup" controlName="notes" rows="2">Notes</textarea-input>
            </div>
        </div>
    </div>
</div>
