<div [formGroup]="itemGroup" class="panel panel-level-2">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr" (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Humidity Sensor (</span> Since {{ miscUtils.getDate(humiditySensor.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Humidity Sensor (</span>
                {{ miscUtils.getDate(humiditySensor.startDate) }} &ndash; {{ miscUtils.getDate(humiditySensor.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span *ngIf="humiditySensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': humiditySensor.dateDeleted}">
          <button [disabled]="humiditySensor.dateDeleted"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the humidity sensor"
                  (click)="removeItem(index)">
                <i class="glyphicon glyphicon-remove"></i> <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" humiditySensor == null ">
            No information available for current GNSS humidity sensor
        </div>
        <div *ngIf="humiditySensor != null" [ngClass]="{'container-dirty': humiditySensor.dateDeleted}">
            <div class="form-group">
                <text-input2 formControlName="manufacturer" controlName="manufacturer" [form]="itemGroup">Manufacturer</text-input2>
                <text-input2 formControlName="serialNumber" controlName="serialNumber" [form]="itemGroup">Serial Number</text-input2>
                <number-input formControlName="dataSamplingInterval" controlName="dataSamplingInterval" [form]="itemGroup">Data Sampling Interval (seconds)</number-input>
                <number-input formControlName="accuracyPercentRelativeHumidity" controlName="accuracyPercentRelativeHumidity" [form]="itemGroup">Accuracy (% rel h)</number-input>
                <text-input2 formControlName="aspiration" controlName="aspiration" [form]="itemGroup">Aspiration (unaspirated/natural/fan/etc)</text-input2>
                <number-input formControlName="heightDiffToAntenna" controlName="heightDiffToAntenna" [form]="itemGroup">Height Diff to Antenna (m)</number-input>
                <datetime-input formControlName="calibrationDate" controlName="calibrationDate" [index]="index" [form]="itemGroup">Calibration Date</datetime-input>
                <datetime-input formControlName="startDate" controlName="startDate" [index]="index" [form]="itemGroup">Date Installed (UTC)</datetime-input>
                <datetime-input formControlName="endDate" controlName="endDate" [index]="index" [form]="itemGroup">Date Removed (UTC)</datetime-input>
                <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">notes</textarea-input>
            </div>
        </div>
    </div>
</div>
