<div [formGroup]="parentForm" class="panel panel-level-1">
  <div class="panel-heading group-header">
      <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleGroup($event)"
            (keyup.enter)="toggleGroup($event)"
            (click)="toggleGroup($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
            </i>
            {{ getItemName() }}s
        </span>
        <span class="pull-right">
            <button class="btn btn-similar btn-xs" title="Add a new {{getItemName()}}"
                    [disabled]="!isEditable"
                    (click)="addNew($event); miscUtils.showFullView($event);">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New <span class="hidden-xxs">{{ getItemName() }}</span>
            </button>
        </span>
  </div>
    <div class="panel-body group-body" [hidden]="! isGroupOpen">
        <div *ngIf="!hasItems()">
            No information available for {{ getItemName() }}s
        </div>
        <div *ngFor="let radioInterference of getItems(); let i = index">
            <radio-interference-item #item
                                     [groupArray]="parentForm"
                                     [radioInterference]="radioInterference"
                                     [total]="items.length"
                                     [index]="i"
                                     [geodesyEvent]="geodesyEvent"
                                     (returnEvents)="returnEvents($event)"></radio-interference-item>
        </div>
    </div>
</div>
