<div [formGroup]="siteLocationForm" class="panel panel-level-2"
     [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="status.isSiteLocationGroupOpen = miscUtils.scrollIntoView($event, status.isSiteLocationGroupOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': status.isSiteLocationGroupOpen, 'glyphicon-plus-sign': !status.isSiteLocationGroupOpen}">
            </i>
            Site Location
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
    </div>
    <div class="panel-body" *ngIf="status.isSiteLocationGroupOpen">
        <div class="margin-bottom15" *ngIf=" siteLocation == null ">
            No information available for the GNSS site: {{siteId}}
        </div>
        <div class="margin-bottom15" *ngIf=" siteLocation != null ">
            <div class="form-group">
                <text-input formControlName="city" controlName="city"
                            [form]="siteLocationForm">City / Town
                </text-input>
                <text-input formControlName="state" controlName="state"
                            [form]="siteLocationForm">State / Province
                </text-input>
                <text-input formControlName="countryCodeISO" controlName="countryCodeISO"
                            [form]="siteLocationForm">Country Code ISO
                </text-input>
                <text-input formControlName="tectonicPlate" controlName="tectonicPlate"
                            [form]="siteLocationForm">Tectonic Plate
                </text-input>

                <number-input formControlName="cartesianPosition_x" controlName="cartesianPosition_x"
                              [form]="siteLocationForm">X Coordinate (m)
                </number-input>
                <number-input formControlName="cartesianPosition_y" controlName="cartesianPosition_y"
                              [form]="siteLocationForm">Y Coordinate (m)
                </number-input>
                <number-input formControlName="cartesianPosition_z" controlName="cartesianPosition_z"
                              [form]="siteLocationForm">Z Coordinate (m)
                </number-input>

                <number-input formControlName="geodeticPosition_lat" controlName="geodeticPosition_lat"
                              [form]="siteLocationForm">Latitude (dd)
                </number-input>
                <number-input formControlName="geodeticPosition_long" controlName="geodeticPosition_long"
                              [form]="siteLocationForm">Longitude (dd)
                </number-input>
                <number-input formControlName="geodeticPosition_height" controlName="geodeticPosition_height"
                              [form]="siteLocationForm">Ellipsoidal Height (m)
                </number-input>

                <textarea-input formControlName="notes" controlName="notes"
                                [form]="siteLocationForm">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
