<div class="container centered clear-pad overlay" *ngIf="isLoading">
    <div class="loading-img"></div>
</div>
<div class="container centered clear-pad">
    <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
        <gnss-status-info></gnss-status-info>
        <form [formGroup]="siteLogForm" novalidate class="form-horizontal">
            <div class="panel-group">
                <div [formGroup]="siteInformationForm" class="panel panel-level-1"
                     [ngClass]="{'gnss-dirty': isSiteInformationFormDirty(), 'gnss-invalid': isSiteInformationFormInvalid()}">
                    <div class="panel-heading">
                        <span class="panel-title cursor-ptr"
                              (click)="isSiteInfoFormOpen = miscUtils.scrollIntoView($event, isSiteInfoFormOpen)">
                            <i class="glyphicon"
                               [ngClass]="{'glyphicon-minus-sign': isSiteInfoFormOpen, 'glyphicon-plus-sign': !isSiteInfoFormOpen}"></i>
                            Site Information
                        </span>
                    </div>
                    <div class="panel-body" [hidden]="!isSiteInfoFormOpen">
                        <site-identification [parentForm]="siteInformationForm"
                                             [siteLogModel]="siteLogModel">
                        </site-identification>

                        <site-location [parentForm]="siteInformationForm"
                                       [siteLogModel]="siteLogModel">
                        </site-location>

                        <gnss-responsible-party-group [parentForm]="siteInformationForm"
                                                      [partyType]="responsiblePartyType.siteOwner"
                                                      [isMandatory]="true"
                                                      [isMultiple]="false"
                                                      [siteLogModel]="siteLogModel">
                        </gnss-responsible-party-group>

                        <gnss-responsible-party-group [parentForm]="siteInformationForm"
                                                      [partyType]="responsiblePartyType.siteContact"
                                                      [isMandatory]="true"
                                                      [isMultiple]="true"
                                                      [siteLogModel]="siteLogModel">
                        </gnss-responsible-party-group>

                        <gnss-responsible-party-group [parentForm]="siteInformationForm"
                                                      [partyType]="responsiblePartyType.siteMetadataCustodian"
                                                      [isMandatory]="true"
                                                      [isMultiple]="false"
                                                      [siteLogModel]="siteLogModel">
                        </gnss-responsible-party-group>

                        <gnss-responsible-party-group [parentForm]="siteInformationForm"
                                                      [partyType]="responsiblePartyType.siteDataCenter"
                                                      [isMandatory]="false"
                                                      [isMultiple]="true"
                                                      [siteLogModel]="siteLogModel">
                        </gnss-responsible-party-group>

                        <gnss-responsible-party-group [parentForm]="siteInformationForm"
                                                      [partyType]="responsiblePartyType.siteDataSource"
                                                      [isMandatory]="false"
                                                      [isMultiple]="false"
                                                      [siteLogModel]="siteLogModel">
                        </gnss-responsible-party-group>

                    </div>
                </div>

                <gnss-receivers-group [parentForm]="siteLogForm"
                                      [siteLogModel]="siteLogModel">
                </gnss-receivers-group>

                <gnss-antenna-group [parentForm]="siteLogForm"
                                    [siteLogModel]="siteLogModel">
                </gnss-antenna-group>

                <surveyed-local-ties-group [parentForm]="siteLogForm"
                                           [siteLogModel]="siteLogModel">
                </surveyed-local-ties-group>

                <frequency-standard-group [parentForm]="siteLogForm"
                                          [siteLogModel]="siteLogModel">
                </frequency-standard-group>

                <local-episodic-effects-group [parentForm]="siteLogForm"
                                              [siteLogModel]="siteLogModel">
                </local-episodic-effects-group>

                <humidity-sensors-group [parentForm]="siteLogForm"
                                        [siteLogModel]="siteLogModel">
                </humidity-sensors-group>

                <pressure-sensors-group [parentForm]="siteLogForm"
                                        [siteLogModel]="siteLogModel">
                </pressure-sensors-group>

                <temperature-sensors-group [parentForm]="siteLogForm"
                                           [siteLogModel]="siteLogModel">
                </temperature-sensors-group>

                <water-vapor-sensors-group [parentForm]="siteLogForm"
                                           [siteLogModel]="siteLogModel">
                </water-vapor-sensors-group>

            </div>
        </form>
    </div>
    </div>
