<div class="container centered clear-pad overlay" *ngIf="isLoading">
    <div class="loading-img"></div>
</div>
<div class="container centered clear-pad">
    <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
        <gnss-status-info [siteId]="siteId"></gnss-status-info>
        <form [formGroup]="siteLogForm" novalidate class="form-horizontal">
            <div class="panel-group">
                <gnss-site-information [parentForm]="siteLogForm"
                                       [siteLogModel]="siteLogModel">
                </gnss-site-information>

                <gnss-receivers-group [parentForm]="siteLogForm.controls.gnssReceivers"
                                      [siteLogModel]="siteLogModel">
                </gnss-receivers-group>

                <gnss-antenna-group [parentForm]="siteLogForm.controls.gnssAntennas"
                                    [siteLogModel]="siteLogModel">
                </gnss-antenna-group>

                <surveyed-local-ties-group [parentForm]="siteLogForm.controls.surveyedLocalTies"
                                           [siteLogModel]="siteLogModel">
                </surveyed-local-ties-group>

                <frequency-standard-group [parentForm]="siteLogForm.controls.frequencyStandards"
                                          [siteLogModel]="siteLogModel">
                </frequency-standard-group>

                <collocation-information-group [parentForm]="siteLogForm.controls.collocationInformation"
                                          [siteLogModel]="siteLogModel">
                </collocation-information-group>

                <local-episodic-effects-group [parentForm]="siteLogForm.controls.localEpisodicEffects"
                                              [siteLogModel]="siteLogModel">
                </local-episodic-effects-group>

                <humidity-sensors-group [parentForm]="siteLogForm.controls.humiditySensors"
                                        [siteLogModel]="siteLogModel">
                </humidity-sensors-group>

                <pressure-sensors-group [parentForm]="siteLogForm.controls.pressureSensors"
                                        [siteLogModel]="siteLogModel">
                </pressure-sensors-group>

                <temperature-sensors-group [parentForm]="siteLogForm.controls.temperatureSensors"
                                           [siteLogModel]="siteLogModel">
                </temperature-sensors-group>

                <water-vapor-sensors-group [parentForm]="siteLogForm.controls.waterVaporSensors"
                                           [siteLogModel]="siteLogModel">
                </water-vapor-sensors-group>

                <other-instrumentation-group [parentForm]="siteLogForm.controls.otherInstrumentation"
                                           [siteLogModel]="siteLogModel">
                </other-instrumentation-group>

                <radio-interferences-group [parentForm]="siteLogForm.controls.radioInterferences"
                                           [siteLogModel]="siteLogModel">
                </radio-interferences-group>

                <signal-obstructions-group [parentForm]="siteLogForm.controls.signalObstructions"
                                           [siteLogModel]="siteLogModel">
                </signal-obstructions-group>

                <multipath-source-group [parentForm]="siteLogForm.controls.multipathSources"
                                           [siteLogModel]="siteLogModel">
                </multipath-source-group>

            </div>
        </form>
    </div>
</div>
