<div [formGroup]="siteIdentificationForm" class="panel panel-level-2"
     [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
            (keyup.enter)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
            (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            Site Identification
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isOpen">
        <div class="margin-bottom15" [hidden]="siteIdentification != null">
            No information available for {{getItemName()}}
        </div>
        <div class="margin-bottom15" [hidden]="siteIdentification == null">
            <div class="form-group">
                <text-input [readonly]="getFourCharacterIdReadOnlyAttribute()" formControlName="fourCharacterID" controlName="fourCharacterID"
                            [form]="siteIdentificationForm">Four Character Id
                </text-input>
                <text-input formControlName="siteName" controlName="siteName"
                            [form]="siteIdentificationForm">Site Name
                </text-input>
                <!-- TODO: These fields exist in the XML but not in the Java bindings.
                <text-input formControlName="monumentNumber" controlName="monumentNumber"
                            [form]="siteIdentificationForm">Monument Number</text-input>
                <text-input formControlName="receiverNumber" controlName="receiverNumber"
                            [form]="siteIdentificationForm">Receiver Number</text-input> -->
                <text-input formControlName="monumentInscription" controlName="monumentInscription"
                            [form]="siteIdentificationForm">Monument Inscription
                </text-input>
                <text-input formControlName="iersDOMESNumber" controlName="iersDOMESNumber"
                            [form]="siteIdentificationForm">IERS DOMES Number
                </text-input>
                <text-input formControlName="cdpNumber" controlName="cdpNumber"
                            [form]="siteIdentificationForm">CDP Number
                </text-input>
                <text-input formControlName="monumentDescription" controlName="monumentDescription"
                            [form]="siteIdentificationForm">Monument Description
                </text-input>
                <number-input formControlName="heightOfTheMonument" controlName="heightOfTheMonument"
                              [form]="siteIdentificationForm">Height of the Monument (m)
                </number-input>
                <text-input formControlName="monumentFoundation" controlName="monumentFoundation"
                            [form]="siteIdentificationForm">Monument Foundation
                </text-input>
                <number-input formControlName="foundationDepth" controlName="foundationDepth"
                              [form]="siteIdentificationForm">Foundation Depth (m)
                </number-input>
                <text-input formControlName="markerDescription" controlName="markerDescription"
                            [form]="siteIdentificationForm">Marker Description
                </text-input>
                <datetime-input [form]="siteIdentificationForm" controlName="dateInstalled"
                                [required]="false">Date Installed
                </datetime-input>
                <text-input formControlName="geologicCharacteristic" controlName="geologicCharacteristic"
                            [form]="siteIdentificationForm">Geologic Characteristic
                </text-input>
                <text-input formControlName="bedrockType" controlName="bedrockType"
                            [form]="siteIdentificationForm">Bedrock Type
                </text-input>
                <text-input formControlName="bedrockCondition" controlName="bedrockCondition"
                            [form]="siteIdentificationForm">Bedrock Condition
                </text-input>
                <text-input formControlName="fractureSpacing" controlName="fractureSpacing"
                            [form]="siteIdentificationForm">Fracture Spacing
                </text-input>
                <text-input formControlName="faultZonesNearby" controlName="faultZonesNearby"
                            [form]="siteIdentificationForm">Fault Zones Nearby
                </text-input>
                <textarea-input formControlName="distanceActivity" controlName="distanceActivity"
                            [form]="siteIdentificationForm">Distance / Activity
                </textarea-input>
                <textarea-input formControlName="notes" controlName="notes"
                                [form]="siteIdentificationForm">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
