<div class="col-md-12 col-sm-12 col-xs-12">
  <div>
    <h4>
      Search Sites
    </h4>
  </div>
  <div>
    <div class="well">
      <form name="searchSite" novalidate class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-5 col-xs-12 control-label">Four Character ID</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <input type="text" maxlength="100" class="form-control" name="fourCharacterId"
                   placeholder="Search by Four Character ID" maxlength="10"
                   [(ngModel)]="fourCharacterId"/>
          </div>
          <label class="col-md-3 col-sm-5 col-xs-12 control-label">Site Name</label>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <input type="text" maxlength="100" class="form-control" name="siteName"
                   placeholder="Search by Site Name" maxlength="200"
                   [(ngModel)]="siteName"/>
          </div>
        </div>

        <div class="form-group form-horizontal">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="align-center">
              <button class="btn btn-primary space10" type="submit" (click)="searchSites()">Search</button>
              <button class="btn btn-primary space10" type="submit" (click)="clearAll()">Clear All</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <h4>
      Select a Site <span *ngIf="siteSelected != null">(Site Selected: {{siteSelected.fourCharacterId}} - {{siteSelected.name}})</span>
    </h4>
  </div>

  <div>
    <div *ngIf="sites.length == 0" class="well">
      <div>{{searchMsg}}
      </div>
    </div>
    <div *ngIf="sites.length != 0">
      <div>
        <table class="table table-striped table-bordered dataTable" style="width: 100%;" role="grid">
          <thead>
          <tr role="row">
            <th name="">Four Character ID</th>
            <th name="">Site Name</th>
            <th name="">DOMES Number</th>
            <th name="">Selected</th>
            <th name="">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr role="row" *ngFor="let site of sites">
            <td name="">{{site.fourCharacterId}}</td>
            <td name="">{{site.name}}</td>
            <td name="">{{site.domesNumber}}</td>
            <td>
              <span *ngIf="selectedSiteId==site.fourCharacterId">
                <img src="../../assets/tick.png" height="24" width="24">
              </span>
            </td>
            <td>
              <!--<input type="radio" name="site-selection" [value]="site.fourCharacterId"
                     [(ngModel)]="site.fourCharacterId" (click)="selectSite(site)" />
              <input name="site-selection" type="checkbox" [value]="site.fourCharacterId"
                     (click)="selectSite(site)" />-->
              <button class="btn btn-primary btn-xs" type="submit" (click)="selectSite(site)">Select</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
