<div class="col-md-12 col-sm-12 col-xs-12 pad-sm">
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div *ngIf="isSearching" class="pull-right">
          <img src="../../assets/ajax-loader.gif" height="24" width="24">
        </div>
        <div class="panel-title">
          Search Sites
        </div>
      </div>
      <div class="panel-body">
        <form name="searchSite" novalidate class="form-horizontal">
          <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-12 control-label">Four Character Id</label>
            <div class="col-md-4 col-sm-5 col-xs-12">
              <input type="text" maxlength="9" class="form-control" name="fourCharacterId"
                     placeholder="Search by Four Character Id" [(ngModel)]="fourCharacterId"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-12 control-label">Site Name</label>
            <div class="col-md-4 col-sm-5 col-xs-12">
              <input type="text" maxlength="200" class="form-control" name="siteName"
                     placeholder="Search by Site Name" [(ngModel)]="siteName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="align-center">
                <button class="btn btn-primary margin10" type="submit" (click)="searchSites()" title="Search desired CORS sites">Search</button>
                <button class="btn btn-primary margin10" type="submit" (click)="clearAll()" title="Clear all inputs and search results if any">Clear All</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          Select a Site
          <span *ngIf="sites.length > 0" class="tips">(Click on a row below to view the site details)</span>
        </div>
      </div>
      <div class="panel-body clear-pad">
        <div *ngIf="sites.length == 0" class="hint">
          <div>{{searchMsg}}
          </div>
        </div>
        <div *ngIf="sites.length != 0">
          <div>
            <table class="table table-striped table-hover" style="width: 100%;" role="grid">
              <thead>
              <tr role="row">
                <th name="">Four Character ID</th>
                <th name="">Site Name</th>
                <!--<th name="">Action</th>-->
              </tr>
              </thead>
              <tbody>
              <tr role="row" *ngFor="let site of sites" (click)="selectSite(site)">
                <td name="">{{site.fourCharacterId}}</td>
                <td name="">{{site.name}}</td>
                <!--<td>
                  <button class="btn btn-primary btn-xs" type="submit" (click)="selectSite(site)">Select</button>
                </td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
