.status-info-bar {
  background-color: transparent;
  color: #222;
  display: block;
  float: none;
  font-size: 15px;
  height: 25px;
  max-height: 25px;
  margin: 10px 0 0;
  padding: 5px 10px;
  width: 100%;
}

.status-info-bar>span {
    background-color: #e0efffba;
    opacity: 0.9;
}

@media (max-width: 500px) {
  .status-info-bar {
    font-size: 14px;
    height: 65px;
    line-height: 1.2;
    margin: 5px 5px 30px 5px;
    padding: 5px;
  }
}
