:host {
  background-color: transparent;
  color: #0000b3;
  display: block;
  float: none;
  font-size: 15px;
  height: 25px;
  max-height: 25px;
  margin: 5px 0 0;
  padding: 5px;
  width: 100%;
}

