<div class="">
    <span *ngIf="user == null">
        <span>You have not logged in and are not authorized to edit</span>
        <span *ngIf="siteId == null">
            any sites
        </span>
        <span *ngIf="siteId != null">
            {{siteId}}. {{getFormStatus()}}
        </span>
    </span>
    <span *ngIf="user != null">
        <span>You have logged in as "{{user.profile.sub}}"</span>
        <span *ngIf="siteId == null">
            and are authorized to edit {{getUserAuthorityString()}})
        </span>
        <span *ngIf="siteId != null">
            and are {{isAuthorizedSite() ? '' : 'not'}} authorized to edit {{siteId}}. {{getFormStatus()}}
        </span>
    </span>
</div>
