<div class="status-info-bar">
    <span *ngIf="!isUserLoggedIn()">
        <span>You have not logged in and are not authorised to edit</span>
        <span *ngIf="siteId == null">
            any sites
        </span>
        <span *ngIf="siteId != null">
            {{siteId}}. {{getFormStatus()}}
        </span>
    </span>
    <span *ngIf="isUserLoggedIn()">
        <span>You have logged in as "{{user.profile.sub}}"</span>
        <span *ngIf="siteId == null">
            and are authorised to edit {{getAuthorisedSites()}}.
        </span>
        <span *ngIf="siteId != null">
            and are {{isEditable ? '' : 'not'}} authorised to edit {{siteId === 'newSite' ? 'the new site' : siteId}}. {{getFormStatus()}}
        </span>
    </span>
    <span>
        You can download the raw file here.
        <a target="_blank" title="Download the raw sitelog"
        href="https://devgeodesy-webservices.gnss.linz.io/siteLogs/search/findByFourCharacterId?id=HIKB&format=geodesyml">
            <img alt="downloads" src="assets/icons8-download-26.png" />
        </a>
    </span>
</div>
