<div>
  <input type="text" class="form-control" maxlength="24" [(ngModel)]="datetimeString" (focus)="showCalendar()"/>
  <div class="popup" *ngIf="showDatetimePicker">
    <datepicker [(ngModel)]="datetimeModel" [showWeeks]="false"
        (selectionDone)="setSelectedDatetime($event)"></datepicker>
    <div class="center">
    <table>
      <tbody>
        <tr class="text-center">
          <td><a (click)="incrementHours()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
          <td>&nbsp;</td>
          <td><a (click)="incrementMinutes()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
          <td>&nbsp;</td>
          <td><a (click)="incrementSeconds()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        </tr>
        <tr>
          <td class="form-group" [ngClass]="{'has-error': invalidHours}">
            <input style="width:50px;" type="text" [(ngModel)]="hoursString" (change)="updateHours()" class="form-control text-center" maxlength="2">
          </td>
          <td>:</td>
          <td class="form-group" [ngClass]="{'has-error': invalidMinutes}">
            <input style="width:50px;" type="text" [(ngModel)]="minutesString" (change)="updateMinutes()" class="form-control text-center" maxlength="2">
          </td>
          <td>:</td>
          <td class="form-group" [ngClass]="{'has-error': invalidSeconds}">
            <input style="width:50px;" type="text" [(ngModel)]="secondsString" (change)="updateSeconds()" class="form-control text-center" maxlength="2">
          </td>
        </tr>
        <tr class="text-center">
          <td><a (click)="decrementHours()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
          <td>&nbsp;</td>
          <td><a (click)="decrementMinutes()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
          <td>&nbsp;</td>
          <td><a (click)="decrementSeconds()" class="btn btn-time"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
