<div class="container centered clear-pad">
  <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
    <div class="panel-group">
      <div class="panel panel-level-1">
        <div class="panel-heading">
          <div *ngIf="isSearching" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
          </div>
          <div class="panel-title">
            Search Sites
          </div>
        </div>
        <div class="panel-body margin-bottom15">
          <div class="form-group">
            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1
                      col-xs-8 col-xs-offset-1 col-xxs-12 col-xxs-offset-0 margin-top5">
              <input type="text" name="searchText" maxlength="200" class="form-control"
                     (input)="searchTextSubject.next($event.target.value)"
                     placeholder="Search by Site Id or Site Name"/>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1 col-xxs-12">
              <button class="btn btn-primary col-xxs-center" (click)="searchSites()" title="Search desired CORS sites">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-error" *ngIf="errorMessage">
      <span class="alert-danger">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        Error in searching CORS sites
      </span>
        <br><br>
      <span class="alert-warning">
        {{errorMessage}}
      </span>
        <br><br>
      <span>
        Please <a href="http://www.ga.gov.au/contact-us" target="_blank">contact Geoscience Australia</a>
        to report the error.
      </span>
      </div>
      <div class="panel panel-level-1">
        <div class="panel-heading">
          <div class="panel-title">
            Select a Site
            <span *ngIf="sites.length > 0" class="tips">(Click on a row below to view the site details)</span>
          </div>
        </div>
        <div class="panel-body margin-bottom15">
          <div *ngIf="sites.length == 0" class="hint">
            <div>{{searchMsg}}
            </div>
          </div>
          <div *ngIf="sites.length != 0">
            <div>
              <table id="select-site-sites-table" class="table table-striped table-hover" style="width: 100%;"
                     role="grid">
                <thead>
                <tr role="row">
                  <th name="column_1" (click)="sortField(0)"
                      title="Click to sort Four Character Id in {{ getSortingOrder(0) }} order">
                    Four Character ID
                    <i *ngIf="columns[0].sort == 'asc'" class="glyphicon glyphicon-chevron-up"></i>
                    <i *ngIf="columns[0].sort == 'desc'" class="glyphicon glyphicon-chevron-down"></i>
                  </th>
                  <th name="column_2" (click)="sortField(1)"
                      title="Click to sort Site Name in {{ getSortingOrder(1) }} order">
                    Site Name
                    <i *ngIf="columns[1].sort == 'asc'" class="glyphicon glyphicon-chevron-up"></i>
                    <i *ngIf="columns[1].sort == 'desc'" class="glyphicon glyphicon-chevron-down"></i>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" *ngFor="let site of sites" (click)="selectSite(site)">
                  <td name="siteId">{{site.fourCharacterId}}</td>
                  <td name="sitename">{{site.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
