<div [formGroup]="parentForm" class="panel panel-level-2" id="{{ getElementName() }}-group">
    <div class="panel-heading group-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleGroup($event)"
            (keyup.enter)="toggleGroup($event)"
            (click)="toggleGroup($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
            </i>
            {{getItemName() + (isMultiple ? 's' : '')}}
        </span>
        <span class="pull-right" [hidden]="!isMultiple && getItems().length >= 1">
            <button type="button" class="btn btn-similar btn-xs" title="Add a new {{getItemName()}}"
                    [disabled]="!isEditable"
                    (click)="addNew($event); miscUtils.scrollToElementById($event, getElementName()+'-group');">
                <i class="glyphicon glyphicon-plus-sign"></i>
                New <span class="hidden-xxs">{{getItemName()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="! isGroupOpen">
        <div *ngIf="!hasItems()">
            No information available for {{getItemName()}}
        </div>
        <div *ngFor="let responsibleParty of getItems(); let i = index">
            <gnss-responsible-party-item #item
                                         [groupArray]="parentForm"
                                         [partyType]="partyType"
                                         [responsibleParty]="responsibleParty"
                                         [index]="i"
                                         [total]="getItems().length"
                                         [isMandatory]="isMandatory"
                                         [geodesyEvent]="geodesyEvent"
                                         (returnEvents)="returnEvents($event)">
            </gnss-responsible-party-item>
        </div>
    </div>
</div>
