<div [formGroup]="itemGroup" class="panel panel-level-3" [ngClass]="{'no-borders': total == 1}" id="{{itemIdName}}-{{index}}">
    <div [ngClass]="{'panel-heading': total > 1, 'panel-heading-hidden': total == 1}">
        <span [hidden]="total <= 1" class="panel-title cursor-ptr" tabindex="0"
              (keyup.enter)="toggleGroup($event)"
              (keyup.space)="toggleGroup($event)"
              (click)="toggleGroup($event)">
            <i class="glyphicon" [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}"> </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="responsibleParty.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [hidden]="!isNew && isMandatory && total == 1">
            <button type="button" [disabled]="isDeleteDisabled()"
                    class="btn btn-danger btn-xs"
                    title="{{getRemoveOrDeletedText()}} the {{getItemName()}}"
                    (click)="removeItem(index)">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body" [hidden]="!isOpen">
        <div *ngIf=" responsibleParty == null ">
            No information available for {{getItemName()}}
        </div>
        <div *ngIf="responsibleParty != null" [ngClass]="{'container-dirty': responsibleParty.dateDeleted}">
            <div class="form-group">
                <text-input *ngIf="!isDataType"
                            [form]="itemGroup"
                            controlName="individualName"
                            [required]="true">Individual Name</text-input>
                <text-input [form]="itemGroup"
                            controlName="organisationName"
                            [required]="isDataType || isMetadataCustodian">Organisation Name</text-input>
                <text-input *ngIf="!isDataType"
                            [form]="itemGroup"
                            controlName="positionName">Position Name</text-input>
                <text-input [form]="itemGroup" controlName="deliveryPoint">Address</text-input>
                <text-input [form]="itemGroup" controlName="city">City</text-input>
                <text-input [form]="itemGroup" controlName="administrativeArea">State / Province</text-input>
                <text-input [form]="itemGroup" controlName="postalCode">Postal Code</text-input>
                <text-input [form]="itemGroup" controlName="country">Country</text-input>
                <text-input *ngIf="isDataType"
                            [form]="itemGroup"
                            controlName="individualName"
                            [required]="false">Individual Name</text-input>
                <text-input *ngIf="isDataType"
                            [form]="itemGroup"
                            controlName="positionName">Position Name</text-input>
                <email-input [form]="itemGroup" controlName="email">Email</email-input>
                <text-input [form]="itemGroup" controlName="primaryPhone">Primary Phone Number</text-input>
                <text-input [form]="itemGroup" controlName="secondaryPhone">Secondary Phone Number</text-input>
                <text-input [form]="itemGroup" controlName="fax">Fax Number</text-input>
                <url-input *ngIf="isDataCenter" [form]="itemGroup" controlName="url">URL</url-input>
            </div>
        </div>
    </div>
</div>
