<div class="panel panel-level-2">
  <div class="panel-heading">
    <span class="panel-title cursor-ptr"
          (click)="isPartyGroupOpen = miscUtils.scrollIntoView($event, isPartyGroupOpen)">
      <i class="glyphicon"
         [ngClass]="{'glyphicon-minus-sign': isPartyGroupOpen, 'glyphicon-plus-sign': !isPartyGroupOpen}">
      </i>
      {{partyName}}
    </span>
    <span *ngIf="isToShowAddNewButton()" class="pull-right">
      <button class="btn btn-primary btn-xxs"
              title="Add a new {{partyName}}"
              [disabled]="isToEnableAddNewButton()"
              (click)="addNewResponsibleParty(); miscUtils.showFullView($event);">
        <i class="glyphicon glyphicon-plus-sign"></i>
        New <span class="hide-xxs">{{partyName}}</span>
      </button>
    </span>
  </div>
  <div class="panel-body" *ngIf="isPartyGroupOpen">
    <div *ngIf="responsibleParties == null || responsibleParties.length == 0" class="margin-bottom15">
      No information available for {{partyName}}
    </div>
    <div *ngFor="let responsibleParty of responsibleParties; let i = index">
      <div class="form-group" [ngClass]="{'panel-subtitle': responsibleParties.length > 1}">
        <label class="col-md-8 col-sm-8 col-xs-8 col-xxs-9">{{ getSimplePartyNameInOrder(i) }}</label>
        <div class="col-md-4 col-sm-4 col-xs-4 col-xxs-3" *ngIf="isToShowRemoveButton(i)">
          <button class="btn btn-danger btn-xxs pull-right"
                  title="Remove the new {{partyName}}"
                  (click)="removeNewResponsibleParty()">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">Remove</span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Full Name</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control" required
                 [(ngModel)]="responsibleParty.individualName.characterString['gco:CharacterString']"
                 name="contactName_{{i}}" #contactName="ngModel"/>
          <small [hidden]="contactName.valid || contactName.pristine"
                 class="alert alert-danger">
            "Full Name" is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Organisation</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100"
                 class="form-control" required
                 [(ngModel)]="responsibleParty.organisationName.characterString['gco:CharacterString']"
                 name="contactOrganisation_{{i}}" #contactOrganisation="ngModel"/>
          <small [hidden]="contactOrganisation.valid || contactOrganisation.pristine"
                 class="alert alert-danger">
            "Organisation" is required
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Position</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control"
                 [(ngModel)]="responsibleParty.positionName.characterString['gco:CharacterString']"
                 name="contactPosition_{{i}}"/>
        </div>
      </div>
      <div
        *ngFor="let address of responsibleParty.contactInfo.ciContact.address.ciAddress.deliveryPoint; let j = index">
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Delivery Point
            {{responsibleParty.contactInfo.ciContact.address.ciAddress.deliveryPoint.length <= 1 ? '' :
            j+1}}</label>
          <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
            <input type="text" maxlength="100" class="form-control"
                   [(ngModel)]="address.characterString['gco:CharacterString']"
                   name="contactAddress_{{i}}_{{j}}"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">City</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control"
                 [(ngModel)]="responsibleParty.contactInfo.ciContact.address.ciAddress.city.characterString['gco:CharacterString']"
                 name="contactCity_{{i}}" #contactOrganisation="ngModel"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Administrative Area</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control"
                 [(ngModel)]="responsibleParty.contactInfo.ciContact.address.ciAddress.administrativeArea.characterString['gco:CharacterString']"
                 name="contactAdminArea_{{i}}" #contactOrganisation="ngModel"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Postal Code</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control"
                 [(ngModel)]="responsibleParty.contactInfo.ciContact.address.ciAddress.postalCode.characterString['gco:CharacterString']"
                 name="contactPostCode_{{i}}" #contactOrganisation="ngModel"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Country</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100" class="form-control"
                 [(ngModel)]="responsibleParty.contactInfo.ciContact.address.ciAddress.country.characterString['gco:CharacterString']"
                 name="contactCountry_{{i}}" #contactOrganisation="ngModel"/>
        </div>
      </div>
      <div
        *ngFor="let email of responsibleParty.contactInfo.ciContact.address.ciAddress.electronicMailAddress; let j = index">
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Email
            {{responsibleParty.contactInfo.ciContact.address.ciAddress.electronicMailAddress.length <= 1 ? '' :
            j+1}}</label>
          <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
            <input type="email" maxlength="100" class="form-control"
                   [(ngModel)]="email.characterString['gco:CharacterString']"
                   name="contactEmail_{{i}}" #contactEmail_{{i}}_{{j}}="ngModel"/>
          </div>
        </div>
      </div>
      <div *ngFor="let phone of responsibleParty.contactInfo.ciContact.phone.ciTelephone.voice; let j = index">
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Phone
            {{responsibleParty.contactInfo.ciContact.phone.ciTelephone.voice.length <= 1 ? '' : j+1}}</label>
          <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
            <input type="text" maxlength="100" class="form-control"
                   [(ngModel)]="phone.characterString['gco:CharacterString']"
                   name="contactPhone_{{i}}_{{j}}"/>
          </div>
        </div>
      </div>
      <div *ngFor="let fax of responsibleParty.contactInfo.ciContact.phone.ciTelephone.facsimile; let j = index">
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Facsimile
            {{responsibleParty.contactInfo.ciContact.phone.ciTelephone.facsimile.length <= 1 ? '' : j+1}}</label>
          <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
            <input type="text" maxlength="100" class="form-control"
                   [(ngModel)]="fax.characterString['gco:CharacterString']"
                   name="contactFax_{{i}}_{{j}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
