<div [formGroup]="itemGroup" class="panel panel-level-3"
     [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid(), 'no-borders': total == 1}">
    <div [ngClass]="{'panel-heading': total > 1, 'panel-heading-hidden': total == 1}">
        <span [hidden]="total <= 1" class="panel-title cursor-ptr" tabindex="0"
              (keyup.enter)="toggleGroup($event)"
              (keyup.space)="toggleGroup($event)"
              (click)="toggleGroup($event)">
            <i class="glyphicon" [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}"> </i>
            <span [innerHTML]="getItemHeaderHtml(typeName)"></span>
        </span>
        <span *ngIf="responsibleParty.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [hidden]="!isNew && isMandatory && total == 1">
            <button type="button" [disabled]="isDeleteDisabled()"
                    class="btn btn-danger btn-xs"
                    title="{{getRemoveOrDeletedText()}} the {{getItemName()}}"
                    (click)="removeItem(index)">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body" [hidden]="!isOpen">
        <div *ngIf=" responsibleParty == null ">
            No information available for {{getItemName()}}
        </div>
        <div *ngIf="responsibleParty != null" [ngClass]="{'container-dirty': responsibleParty.dateDeleted}">
            <div class="form-group">
                <text-input *ngIf="!isDataType"
                            [required]="true"
                            formControlName="individualName"
                            controlName="individualName"
                            [form]="itemGroup">Individual Name</text-input>
                <text-input [required]="isDataType || isMetadataCustodian"
                            formControlName="organisationName"
                            controlName="organisationName"
                            [form]="itemGroup">Organisation Name</text-input>
                <text-input *ngIf="!isDataType"
                            formControlName="positionName"
                            controlName="positionName"
                            [form]="itemGroup">Position Name</text-input>
                <text-input formControlName="deliveryPoint" controlName="deliveryPoint" [form]="itemGroup">Address</text-input>
                <text-input formControlName="city" controlName="city" [form]="itemGroup">City</text-input>
                <text-input formControlName="administrativeArea" controlName="administrativeArea" [form]="itemGroup">State / Province</text-input>
                <text-input formControlName="postalCode" controlName="postalCode" [form]="itemGroup">Postal Code</text-input>
                <text-input formControlName="country" controlName="country" [form]="itemGroup">Country</text-input>
                <text-input *ngIf="isDataType"
                            [required]="false"
                            formControlName="individualName"
                            controlName="individualName"
                            [form]="itemGroup">Individual Name</text-input>
                <text-input *ngIf="isDataType"
                            formControlName="positionName"
                            controlName="positionName"
                            [form]="itemGroup">Position Name</text-input>
                <text-input formControlName="email" controlName="email" [form]="itemGroup">Email</text-input>
                <text-input formControlName="phone" controlName="phone" [form]="itemGroup">Phone Number</text-input>
                <text-input formControlName="fax" controlName="fax" [form]="itemGroup">Fax Number</text-input>
                <text-input formControlName="url" controlName="url" [form]="itemGroup">URL</text-input>
            </div>
        </div>
    </div>
</div>
