<div class="container centered clear-pad">
  <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
    <form #siteInfoForm="ngForm" novalidate class="form-horizontal">
      <div class="panel-group">
        <div class="panel panel-level-1">
          <div class="panel-heading">
            <span class="panel-title cursor-ptr"
                  (click)="status.isSiteInfoGroupOpen = miscUtils.scrollIntoView($event, status.isSiteInfoGroupOpen)">
              <i class="glyphicon"
                 [ngClass]="{'glyphicon-minus-sign': status.isSiteInfoGroupOpen, 'glyphicon-plus-sign': !status.isSiteInfoGroupOpen}">
              </i>
              Site Information
            </span>
            <span *ngIf="isLoading" class="pull-right">
              <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
            </span>
          </div>
          <div class="panel-body" *ngIf="status.isSiteInfoGroupOpen">
            <div class="margin-bottom15" *ngIf=" siteIdentification == null ">
              No information available for the GNSS site: {{siteId}}
            </div>
            <div class="margin-bottom15" *ngIf=" siteIdentification != null ">
              <div class="form-group">
                <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Four Character Id</label>
                <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                  <input type="text" minlength="4" maxlength="9"
                         class="form-control" required
                         [(ngModel)]="siteIdentification.fourCharacterID"
                         name="fourCharacterID"
                         #fourCharacterID="ngModel"/>
                  <small [hidden]="fourCharacterID.valid || fourCharacterID.pristine"
                         class="alert alert-danger">
                    "Four Character Id" is required (minimum 4 characters)
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Site Name</label>
                <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                  <input type="text" maxlength="100" class="form-control" required
                         [(ngModel)]="siteIdentification.siteName" name="siteName" #siteName="ngModel"/>
                  <small [hidden]="siteName.valid || siteName.pristine" class="alert alert-danger">
                    "Site Name" is required
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">IERS DOMES Number</label>
                <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                  <input type="text" maxlength="100" class="form-control" required
                         [(ngModel)]="siteIdentification.iersDOMESNumber" name="iersDomesNumber" #iersDomesNumber="ngModel"/>
                  <small [hidden]="iersDomesNumber.valid || iersDomesNumber.pristine" class="alert alert-danger">
                    "IERS DOMES Number" is required
                  </small>
                </div>
              </div>
              <div *ngIf="siteLocation !=null">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">City / Town</label>
                  <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                    <input type="text" maxlength="100" class="form-control"
                           [(ngModel)]="siteLocation.city" name="siteCity" #siteCity="ngModel"/>
                  </div>
                </div>
              </div>
              <div *ngIf="siteLocation !=null">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">State</label>
                  <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                    <input type="text" maxlength="100" class="form-control"
                           [(ngModel)]="siteLocation.state" name="siteState" #siteState="ngModel"/>
                  </div>
                </div>
              </div>
              <div *ngIf="siteLocation !=null">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Country</label>
                  <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                    <input type="text" maxlength="100" class="form-control"
                           [(ngModel)]="siteLocation.countryCodeISO" name="siteCountry" #siteCountry="ngModel"/>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="panel panel-level-2">
              <div class="panel-heading">
                <span class="panel-title cursor-ptr"
                      (click)="status.isSiteMediaOpen = miscUtils.scrollIntoView($event, status.isSiteMediaOpen)">
                  <i class="glyphicon"
                     [ngClass]="{'glyphicon-minus-sign': status.isSiteMediaOpen, 'glyphicon-plus-sign': !status.isSiteMediaOpen}">
                  </i>
                  Site Media (Photos, PDFs, etc)
                </span>
              </div>
              <div class="panel-body" *ngIf="status.isSiteMediaOpen">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">View PDFs </label>
                </div>
                <div class="form-group">
                  <label class="col-md-5 col-sm-6 col-xs-6 col-xxs-12 control-label">View Photos</label>
                </div>
              </div>
            </div>-->
            <gnss-responsible-party [partyName]="siteContactName"
                                    [status]="status"
                                    [responsibleParties]="siteContacts"
                                    [dataModel]="siteLogModel.siteContact"
                                    [dataModelCopy]="siteLogOrigin.siteContact"></gnss-responsible-party>
            <gnss-responsible-party [partyName]="siteMetadataCustodianName"
                                    [status]="status"
                                    [responsibleParties]="[siteMetadataCustodian]"
                                    [dataModel]="siteLogModel.siteMetadataCustodian"
                                    [dataModelCopy]="siteLogOrigin.siteMetadataCustodian"></gnss-responsible-party>
            <gnss-responsible-party [partyName]="siteDataCenterName"
                                    [status]="status"
                                    [responsibleParties]="siteDataCenters"
                                    [dataModel]="siteLogModel.siteDataCenter"
                                    [dataModelCopy]="siteLogOrigin.siteDataCenter"></gnss-responsible-party>
            <gnss-responsible-party [partyName]="siteDataSourceName"
                                    [status]="status"
                                    [responsibleParties]="siteDataSource ? [siteDataSource] : []"
                                    [dataModel]="siteLogModel.siteDataSource"
                                    [dataModelCopy]="siteLogOrigin.siteDataSource"></gnss-responsible-party>
          </div>
        </div>
        <gnss-receiever-info [status]="status"
                             [gnssReceivers]="receivers"
                             [siteLogModel]="siteLogModel"
                             [siteLogOrigin]="siteLogOrigin"></gnss-receiever-info>
        <gnss-antenna-group [siteLogModel]="siteLogModel"
                            [originalSiteLogModel]="siteLogOrigin"></gnss-antenna-group>
        <gnss-surveyed-local-tie [status]="status"
                                 [surveyedLocalTies]="surveyedLocalTies"
                                 [siteLogModel]="siteLogModel"
                                 [siteLogOrigin]="siteLogOrigin"></gnss-surveyed-local-tie>
        <gnss-frequency-standard [status]="status"
                                 [frequencyStandards]="frequencyStandards"
                                 [siteLogModel]="siteLogModel"
                                 [siteLogOrigin]="siteLogOrigin"></gnss-frequency-standard>
        <gnss-episodic-effect [status]="status"
                              [episodicEffects]="episodicEffects"
                              [siteLogModel]="siteLogModel"
                              [siteLogOrigin]="siteLogOrigin"></gnss-episodic-effect>
        <!--<gnss-humidity-sensor [status]="status"-->
                              <!--[humiditySensors]="humiditySensors"-->
                              <!--[siteLogModel]="siteLogModel"-->
                              <!--[siteLogOrigin]="siteLogOrigin"></gnss-humidity-sensor>-->
        <gnss-humidity-sensors-group [siteLogModel]="siteLogModel"
                                     [originalSiteLogModel]="siteLogOrigin"></gnss-humidity-sensors-group>
        <gnss-pressure-sensor [status]="status"
                              [pressureSensors]="pressureSensors"
                              [siteLogModel]="siteLogModel"
                              [siteLogOrigin]="siteLogOrigin"></gnss-pressure-sensor>
        <gnss-temperature-sensor [status]="status"
                              [temperatureSensors]="temperatureSensors"
                              [siteLogModel]="siteLogModel"
                              [siteLogOrigin]="siteLogOrigin"></gnss-temperature-sensor>
        <gnss-water-vapor-sensor [status]="status"
                              [waterVaporSensors]="waterVaporSensors"
                              [siteLogModel]="siteLogModel"
                              [siteLogOrigin]="siteLogOrigin"></gnss-water-vapor-sensor>
      </div>
    </form>
  </div>
</div>
