<div class="panel panel-level-2">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr" (click)="status.isSiteIdentificationGroupOpen = miscUtils.scrollIntoView($event, status.isSiteIdentificationGroupOpen)">
              <i class="glyphicon"
                 [ngClass]="{'glyphicon-minus-sign': status.isSiteIdentificationGroupOpen, 'glyphicon-plus-sign': !status.isSiteIdentificationGroupOpen}">
              </i>
              Site Identification
        </span>
        <span *ngIf="isLoading" class="pull-right">
              <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
    </div>
    <div class="panel-body" *ngIf="status.isSiteIdentificationGroupOpen">
        <div class="margin-bottom15" *ngIf=" siteIdentification == null ">
            No information available for the GNSS site: {{siteId}}
        </div>
        <div class="margin-bottom15" *ngIf=" siteIdentification != null ">
            <div [formGroup]="siteIdentificationForm" class="form-group">
                <text-input2 formControlName="fourCharacterID" controlName="fourCharacterID" [form]="siteIdentificationForm">Four Character Id</text-input2>
                <text-input2 formControlName="siteName" controlName="siteName" [form]="siteIdentificationForm">Site Name</text-input2>
                <!-- These fields exist in the XML but not in the Java bindings.
                <text-input2 formControlName="monumentNumber" controlName="monumentNumber" [form]="siteIdentificationForm">Monument Number</text-input2>
                <text-input2 formControlName="receiverNumber" controlName="receiverNumber" [form]="siteIdentificationForm">Receiver Number</text-input2> -->
                <text-input2 formControlName="monumentInscription" controlName="monumentInscription" [form]="siteIdentificationForm">Monument Inscription</text-input2>
                <text-input2 formControlName="iersDOMESNumber" controlName="iersDOMESNumber" [form]="siteIdentificationForm">iers DOMES Number</text-input2>
                <text-input2 formControlName="cdpNumber" controlName="cdpNumber" [form]="siteIdentificationForm">cdp Number</text-input2>
                <text-input2 formControlName="monumentDescription" controlName="monumentDescription" [form]="siteIdentificationForm">Monument Description</text-input2>
                <text-input2 formControlName="heightOfTheMonument" controlName="heightOfTheMonument" [form]="siteIdentificationForm">Height Of The Monument</text-input2>
                <text-input2 formControlName="monumentFoundation" controlName="monumentFoundation" [form]="siteIdentificationForm">Monument Foundation</text-input2>
                <text-input2 formControlName="foundationDepth" controlName="foundationDepth" [form]="siteIdentificationForm">Foundation Depth</text-input2>
                <text-input2 formControlName="markerDescription" controlName="markerDescription" [form]="siteIdentificationForm">Marker Description</text-input2>
                <datetime-input formControlName="dateInstalled" controlName="dateInstalled" [form]="siteIdentificationForm">Date Installed</datetime-input>
                <text-input2 formControlName="geologicCharacteristic" controlName="geologicCharacteristic" [form]="siteIdentificationForm">Geologic Characteristic</text-input2>
                <text-input2 formControlName="bedrockType" controlName="bedrockType" [form]="siteIdentificationForm">Bedrock Type</text-input2>
                <text-input2 formControlName="bedrockCondition" controlName="bedrockCondition" [form]="siteIdentificationForm">Bedrock Condition</text-input2>
                <text-input2 formControlName="fractureSpacing" controlName="fractureSpacing" [form]="siteIdentificationForm">Fracture Spacing</text-input2>
                <text-input2 formControlName="faultZonesNearby" controlName="faultZonesNearby" [form]="siteIdentificationForm">fault Zones Nearby</text-input2>
                <text-input2 formControlName="distanceActivity" controlName="distanceActivity" [form]="siteIdentificationForm">Distance Activity</text-input2>
                <textarea-input formControlName="notes" controlName="notes" [form]="siteIdentificationForm">Notes</textarea-input>
        </div>
    </div>
</div>
