<div class="panel panel-level-2"
     [ngClass]="{'panel-dirty': waterVaporSensor.dateDeleted || isNew, 'panel-invalid': hasErrors}">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Water Vapor Sensor (</span>
                Since {{ miscUtils.getDate(waterVaporSensor.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Water Vapor Sensor (</span>
                {{ miscUtils.getDate(waterVaporSensor.startDate) }} &ndash;
                {{ miscUtils.getDate(waterVaporSensor.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span *ngIf="waterVaporSensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': waterVaporSensor.dateDeleted}">
          <button [disabled]="waterVaporSensor.dateDeleted"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the water vapor sensor"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" waterVaporSensor == null ">
            No information available for current Water Vapor Sensor
        </div>
        <div *ngIf="waterVaporSensor != null" [ngClass]="{'container-dirty': waterVaporSensor.dateDeleted}">

            <text-input
              [name]="'waterVaporSensorManufacturer'"
              [(model)]="waterVaporSensor.manufacturer"
              [index]="[index]"
              [label]="'Manufacturer'"
              [maxlength]="100"
              [required]="true">
            </text-input>

            <text-input
              [name]="'waterVaporSensorSerialNumber'"
              [(model)]="waterVaporSensor.serialNumber"
              [index]="[index]"
              [label]="'Serial Number'"
              [maxlength]="100"
              [required]="true">
            </text-input>

            <number-input
              [name]="'waterVaporSensorHeightDiffToAntenna'"
              [(model)]="waterVaporSensor.heightDiffToAntenna"
              [index]="[index]"
              [label]="'Height Diff to Antenna (m)'"
              [step]="0.001"
              [min]="0"
              [maxlength]="100">
            </number-input>

            <datetime-input
              [(datetime)]="waterVaporSensor.calibrationDate"
              [name]=" 'calibrationDate' "
              [index]="[index]"
              [required]="false"
              [label]="'Calibration Date'">
            </datetime-input>

            <datetime-input
              [(datetime)]="waterVaporSensor.startDate"
              [name]=" 'effectiveDateStart' "
              [index]="[index]"
              [required]="true"
              [label]="'Date Installed (UTC)'">
            </datetime-input>

            <datetime-input
              [(datetime)]="waterVaporSensor.endDate"
              [name]=" 'effectiveDateEnd' "
              [index]="[index]"
              [requiredIfNotCurrent]="true"
              [label]="'Date Removed (UTC)'">
            </datetime-input>

            <textarea-input
              [name]="'waterVaporSensorNotes'"
              [(model)]="waterVaporSensor.notes"
              [index]="[index]"
              [label]="'Notes'"
              [rows]="2"
              [maxlength]="2000">
            </textarea-input>

       </div>
    </div>
</div>
