<div [formGroup]="parentForm" class="panel panel-level-1" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
  <div class="panel-heading">
        <span class="panel-title cursor-ptr" tabindex="0"                                                
            (keyup.space)="toggleGroup($event)"
            (keyup.enter)="toggleGroup($event)"
            (click)="toggleGroup($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
            </i>
            {{getItemName()}}s
        </span>
        <span class="pull-right">
            <button class="btn btn-similar btn-xs" title="Add a new {{getItemName()}}"
                    [disabled]="!isEditable()"
                    (click)="addNew($event); miscUtils.showFullView($event);">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New <span class="hidden-xxs">{{getItemName()}}</span>
            </button>
        </span>
  </div>
  <div class="panel-body" [hidden]="! isGroupOpen">
    <div *ngIf="isEmptyCollection()">
      No information available for Water Vapor Sensors
    </div>
      <div formArrayName="waterVaporSensors">
    <div *ngFor="let waterVaporSensor of getItemsCollection(); let i = index">
      <!-- [geodesyEvent] - send event to child components -->
      <!-- (open/close Above/Below Event) - receive events from child components -->
      <!-- (returnEvents) - single point to call events on parent -->
      <water-vapor-sensor-item [groupArray]="groupArrayForm"
                                 [waterVaporSensor]="waterVaporSensor"
                               [formGroupName]="i"
                                 [total]="itemProperties.length"
                                 [index]="i"
                                 [geodesyEvent]="geodesyEvent"
                                 (returnEvents)="returnEvents($event)"></water-vapor-sensor-item>
    </div>
      </div>
  </div>
</div>
