<div [formGroup]="itemGroup" class="panel panel-level-2" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Water Vapor Sensor (</span>
                Since {{ miscUtils.getDate(waterVaporSensor.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Water Vapor Sensor (</span>
                {{ miscUtils.getDate(waterVaporSensor.startDate) }} &ndash;
                {{ miscUtils.getDate(waterVaporSensor.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span *ngIf="waterVaporSensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': waterVaporSensor.dateDeleted}">
          <button [disabled]="waterVaporSensor.dateDeleted"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the water vapor sensor"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" waterVaporSensor == null ">
            No information available for current Water Vapor Sensor
        </div>
        <div *ngIf="waterVaporSensor != null" [ngClass]="{'container-dirty': waterVaporSensor.dateDeleted}">
            <div class="form-group">
                <text-input formControlName="manufacturer" controlName="manufacturer" [form]="itemGroup">Manufacturer</text-input>
                <text-input formControlName="serialNumber" controlName="serialNumber" [form]="itemGroup">Serial Number</text-input>
                <number-input formControlName="heightDiffToAntenna" controlName="heightDiffToAntenna" [form]="itemGroup">Height Diff to Antenna (m)</number-input>
                <datetime-input formControlName="calibrationDate" controlName="calibrationDate" [index]="index" [form]="itemGroup">Calibration Date</datetime-input>
                <datetime-input formControlName="startDate" controlName="startDate" [index]="index" [form]="itemGroup">Date Installed (UTC)</datetime-input>
                <datetime-input formControlName="endDate" controlName="endDate" [index]="index" [form]="itemGroup">Date Removed (UTC)</datetime-input>
                <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">Notes</textarea-input>
            </div>
       </div>
    </div>
</div>
