<!-- Input: localEpisodicEvent (single) -->
<div class="panel panel-level-2">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Local Episodic Effect (</span>
                Since {{ miscUtils.getDate(localEpisodicEvent.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Local Episodic Effect (</span>
                {{ miscUtils.getDate(localEpisodicEvent.startDate) }} &ndash;
                {{ miscUtils.getDate(localEpisodicEvent.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span class="pull-right"> <!-- *ngIf="index == 0 && isNew" -->
          <button class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the local episodic effect"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" localEpisodicEvent == null ">
            No information available for current Local Episodic Effect
        </div>
        <div *ngIf=" localEpisodicEvent != null ">

            <text-input
                [name]="'localEpisodicEventEvent'"
                [(model)]="localEpisodicEvent.event"
                [index]="[index]"
                [label]="'Event'"
                [maxlength]="100"
                [required]="true">
            </text-input>

            <datetime-input
                [(datetime)]="localEpisodicEvent.startDate"
                [name]=" 'effectiveDateStart' "
                [index]="[index]"
                [required]="true"
                [label]="'Date Installed (UTC)'">
            </datetime-input>

            <datetime-input
                [(datetime)]="localEpisodicEvent.endDate"
                [name]=" 'effectiveDateEnd' "
                [index]="[index]"
                [requiredIfNotCurrent]="true"
                [label]="'Date Removed (UTC)'">
            </datetime-input>

        </div>
    </div>
</div>
