<div [formGroup]="itemGroup" class="panel panel-level-2">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Pressure Sensor (</span>
                Since {{ miscUtils.getDate(pressureSensor.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Pressure Sensor (</span>
                {{ miscUtils.getDate(pressureSensor.startDate) }} &ndash;
                {{ miscUtils.getDate(pressureSensor.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span *ngIf="pressureSensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': pressureSensor.dateDeleted}">
          <button [disabled]="pressureSensor.dateDeleted"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the pressure sensor"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" pressureSensor == null ">
            No information available for current GNSS pressure sensor
        </div>
        <div *ngIf="pressureSensor != null" [ngClass]="{'container-dirty': pressureSensor.dateDeleted}">
            <div class="form-group">
                <text-input2 formControlName="manufacturer" controlName="manufacturer" [form]="itemGroup">Manufacturer</text-input2>
                <text-input2 formControlName="serialNumber" controlName="serialNumber" [form]="itemGroup">Serial Number</text-input2>
                <number-input formControlName="dataSamplingInterval" controlName="dataSamplingInterval" [form]="itemGroup" step="0.01">Data Sampling Interval (seconds)</number-input>
                <number-input formControlName="accuracyHPa" controlName="accuracyHPa" [form]="itemGroup"  [min]="0" step="0.01">Accuracy (hPa)</number-input>
                <number-input formControlName="heightDiffToAntenna" controlName="heightDiffToAntenna" [form]="itemGroup" [min]="0" step="0.01">Height Diff to Antenna (m)</number-input>
                <datetime-input formControlName="calibrationDate" controlName="calibrationDate" [index]="index" [form]="itemGroup">Calibration Date</datetime-input>
                <datetime-input formControlName="startDate" controlName="startDate" [index]="index" [form]="itemGroup">Date Installed (UTC)</datetime-input>
                <datetime-input formControlName="endDate" controlName="endDate" [index]="index" [form]="itemGroup">Date Removed (UTC)</datetime-input>
                <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">notes</textarea-input>
            </div>
       </div>
    </div>
</div>
