<!-- Input: pressureSensor (single) -->
<div class="panel panel-level-2">
    <div class="panel-heading" [ngClass]="{'panel-level-2-dirty': pressureSensor.dateDeleted || isNew}">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xsm">Current </span>
                <span class="hidden-xxs">Pressure Sensor (</span>
                Since {{ miscUtils.getDate(pressureSensor.startDate) }}
                <span class="hidden-xxs">)</span>
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xsm">Previous </span>
                <span class="hidden-xxs">Pressure Sensor (</span>
                {{ miscUtils.getDate(pressureSensor.startDate) }} &ndash;
                {{ miscUtils.getDate(pressureSensor.endDate) }}
                <span class="hidden-xxs">)</span>
            </span>
        </span>
        <span *ngIf="pressureSensor.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': pressureSensor.dateDeleted}">
          <button [disabled]="pressureSensor.dateDeleted"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the pressure sensor"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" pressureSensor == null ">
            No information available for current GNSS pressure sensor
        </div>
        <div *ngIf="pressureSensor != null" [ngClass]="{'container-dirty': pressureSensor.dateDeleted}">

            <text-input
              [name]="'pressureSensorManufacturer'"
              [(model)]="pressureSensor.manufacturer"
              [index]="[index]"
              [label]="'Manufacturer'"
              [maxlength]="100"
              [required]="true">
            </text-input>

            <text-input
              [name]="'pressureSensorSerialNumber'"
              [(model)]="pressureSensor.serialNumber"
              [index]="[index]"
              [label]="'Serial Number'"
              [maxlength]="100"
              [required]="true">
            </text-input>

            <number-input
              [name]="'pressureSensorDataSamplingInterval'"
              [(model)]="pressureSensor.dataSamplingInterval"
              [index]="[index]"
              [label]="'Data Sampling Interval (seconds)'"
              [step]="0.01"
              [maxlength]="100">
            </number-input>

            <number-input
              [name]="'pressureSensorAccuracyHPa'"
              [(model)]="pressureSensor.accuracyHPa"
              [index]="[index]"
              [label]="'Accuracy (hPa)'"
              [step]="0.01"
              [min]="0"
              [maxlength]="100">
            </number-input>

            <number-input
              [name]="'pressureSensorHeightDiffToAntenna'"
              [(model)]="pressureSensor.heightDiffToAntenna"
              [index]="[index]"
              [label]="'Height Diff to Antenna (m)'"
              [step]="0.001"
              [min]="0"
              [maxlength]="100">
            </number-input>

            <datetime-input
              [(datetime)]="pressureSensor.calibrationDate"
              [name]=" 'calibrationDate' "
              [index]="[index]"
              [required]="false"
              [label]="'Calibration Date'">
            </datetime-input>

            <datetime-input
              [(datetime)]="pressureSensor.startDate"
              [name]=" 'effectiveDateStart' "
              [index]="[index]"
              [required]="true"
              [label]="'Date Installed (UTC)'">
            </datetime-input>

            <datetime-input
              [(datetime)]="pressureSensor.endDate"
              [name]=" 'effectiveDateEnd' "
              [index]="[index]"
              [requiredIfNotCurrent]="true"
              [label]="'Date Removed (UTC)'">
            </datetime-input>

            <textarea-input
              [name]="'pressureSensorNotes'"
              [(model)]="pressureSensor.notes"
              [index]="[index]"
              [label]="'Notes'"
              [rows]="2"
              [maxlength]="2000">
            </textarea-input>

       </div>
    </div>
</div>
