<div class="panel panel-level-1">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="status.isPressureSensorsGroupOpen = miscUtilsService.scrollIntoView($event, status.isPressureSensorsGroupOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': status.isPressureSensorsGroupOpen, 'glyphicon-plus-sign': !status.isPressureSensorsGroupOpen}">
            </i>
            Pressure Sensors
        </span>
        <span class="pull-right">
            <button class="btn btn-similar btn-xs" title="Add a new pressure sensor as current one"
                    [disabled]="status.hasNewPressureSensor"
                    (click)="addNewPressureSensor(); miscUtilsService.showFullView($event);">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New <span class="hide-xxs">Pressure Sensor</span>
            </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="status.isPressureSensorsGroupOpen">
        <div *ngIf="pressureSensors == null || pressureSensors.length == 0 ">
            No information available for Pressure Sensors
        </div>
        <div *ngFor="let pressureSensor of pressureSensors; let i = index">
            <div class="panel panel-level-2">
                <div class="panel-heading">
                    <span class="panel-sub-title cursor-ptr"
                          (click)="status.isPressureSensorsOpen[i] = miscUtilsService.scrollIntoView($event, status.isPressureSensorsOpen[i])">
                      <i class="glyphicon"
                         [ngClass]="{'glyphicon-minus-sign': status.isPressureSensorsOpen[i], 'glyphicon-plus-sign': !status.isPressureSensorsOpen[i]}"></i>
                       <span *ngIf="i == 0">
                          Current Pressure Sensor (Since {{ miscUtilsService.getDate(pressureSensor.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]) }})
                       </span>
                       <span *ngIf="i != 0">
                          Previous Pressure Sensor ({{ miscUtilsService.getDate(pressureSensor.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]) }}
                          &ndash; {{ miscUtilsService.getDate(pressureSensor.validTime.abstractTimePrimitive['gml:TimePeriod'].endPosition.value[0]) }})
                      </span>
                    </span>
                    <span class="pull-right" *ngIf="i == 0 && status.hasNewPressureSensor">
                      <button class="btn btn-danger btn-xs" title="Remove the new current pressureSensor"
                              (click)="removeNewPressureSensors()">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span class="hidden-xs">Remove</span>
                      </button>
                    </span>
                    <span *ngIf="i == 1 && pressureSensors.length >= 3" class="pull-right">
                      <button class="btn-toggle" *ngIf="!arePrevPressureSensorsOpen()"
                              (click)="togglePrevPressureSensors(true)"
                              title="Show all previous pressureSensors">
                        <i class="glyphicon glyphicon-collapse-down"></i>
                      </button>
                      <button class="btn-toggle" *ngIf="!arePrevPressureSensorsClosed()"
                              (click)="togglePrevPressureSensors(false)"
                              title="Hide all previous pressureSensors">
                        <i class="glyphicon glyphicon-collapse-up"></i>
                      </button>
                    </span>
                </div>
                <div class="panel-body" *ngIf="status.isPressureSensorsOpen[i]">
                    <div *ngIf=" pressureSensor == null ">
                        No information available for current GNSS pressure sensor
                    </div>
                    <div *ngIf=" pressureSensor != null ">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Manufacturer</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input required type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="pressureSensor.manufacturer"
                                       name="pressureSensorManufacturer_{{i}}"
                                       #manufacturer="ngModel"/>
                                 <small [hidden]="manufacturer.valid || manufacturer.pristine"
                         			class="alert alert-danger">
                    				"Manufacturer" is required
                    			 </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Serial Number</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input required type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="pressureSensor.serialNumber"
                                       name="pressureSensorSerialNumber_{{i}}"
                                       #serialNumber="ngModel"/>
                                 <small [hidden]="serialNumber.valid || serialNumber.pristine"
                         			class="alert alert-danger">
                    				"Serial Number" is required
                    			 </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Data Sampling Interval (sec)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="number" min="0" maxlength="100" class="form-control"
                                       [(ngModel)]="pressureSensor.dataSamplingInterval"
                                       name="pressureSensorDataSamplingInterval_{{i}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Accuracy (hPa)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="number" min="0" maxlength="100" class="form-control"
                                       [(ngModel)]="pressureSensor.accuracyHPa"
                                       name="pressureSensorAccuracyHPa_{{i}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Height Diff to Antenna (m)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input required type="number" step="0.001" maxlength="100" class="form-control"
                                       [(ngModel)]="pressureSensor.heightDiffToAntenna"
                                       name="pressureSensorHeightDiffToAntenna_{{i}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Calibration Date</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <datetime-picker [(datetime)]="pressureSensor.calibrationDate.value[0]" [name]=" 'calibrationDate' "
                                                 [required]="false"></datetime-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Installed (UTC)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <datetime-picker [(datetime)]="pressureSensor.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]" [name]=" 'effectiveDateStart' "
                                                 [required]="false"></datetime-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Removed (UTC)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <datetime-picker [(datetime)]="pressureSensor.validTime.abstractTimePrimitive['gml:TimePeriod'].endPosition.value[0]" [name]=" 'effectiveDateEnd' "
                                                 [required]="false"></datetime-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Notes</label>
                            <div class="col-md-8 col-sm-8 col-xs-7 col-xxs-12">
                                <textarea maxlength="2000" rows="2" class="form-textarea"
                                [(ngModel)]="pressureSensor.notes"
                                name="pressureSensorNotes_{{i}}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
