<div class="container centered clear-pad">
    <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
        <div class="panel-group">
            <div class="panel panel-level-1" [ngClass]="{'gnss-invalid': isFormInvalid()}">
                <div class="panel-heading">
                    <div class="panel-title">User Registration</div>
                </div>
                <div class="panel-body margin-bottom15">
                    <form [formGroup]="userRegistrationForm" class="form-horizontal">
                        <div class="centered">
                            <p>Please fill in the form below. You will be contacted by a member from the GNSS Operations Team at Geoscience Australia regarding your access.</p>
                        </div>

                        <div class="form-group">
                                <text-input [form]="userRegistrationForm" controlName="firstName">First Name</text-input>
                                <text-input [form]="userRegistrationForm" controlName="lastName">Last Name</text-input>
                                <text-input [form]="userRegistrationForm" controlName="organisation">Organisation</text-input>
                                <text-input [form]="userRegistrationForm" controlName="position">Position</text-input>
                                <text-input [form]="userRegistrationForm" controlName="phone">Phone</text-input>
                                <text-input [form]="userRegistrationForm" controlName="email">Email</text-input>
                                <textarea-input [form]="userRegistrationForm" controlName="remarks" rows="3">Remarks</textarea-input>
                        </div>

                        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-8 col-xs-offset-1 col-xxs-12 col-xxs-offset-0 extra-v-margin">
                            <div class="centered" style="width: 150px;">
                                <button type="button" class="btn btn-primary pull-left" (click)="cancel()" title="Cancel user registration">
                                    Cancel
                                </button>
                                <button type="button" class="btn btn-primary pull-right" [disabled]="isFormInvalid()" (click)="submit()" title="Submit user registration">
                                    OK
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
