<div class="panel panel-level-1">
  <div class="panel-heading">
    <span class="panel-title cursor-ptr"
          (click)="status.isEpisodicEffectGroupOpen = miscUtilsService.scrollIntoView($event, status.isEpisodicEffectGroupOpen)">
      <i class="glyphicon"
         [ngClass]="{'glyphicon-minus-sign': status.isEpisodicEffectGroupOpen, 'glyphicon-plus-sign': !status.isEpisodicEffectGroupOpen}">
      </i>
      Local Episodic Effects
    </span>
    <span class="pull-right">
      <button class="btn btn-similar btn-xs" title="Add a new eposidic effect as current one"
                                             [disabled]="status.hasNewEpisodicEffect"
                                             (click)="addNewEpisodicEffect(); miscUtilsService.showFullView($event);">
        <i class="glyphicon glyphicon-plus-sign"></i>
        New <span class="hide-xxs">Episodic Effect</span>
      </button>
    </span>
  </div>
  <div *ngIf="status.isEpisodicEffectGroupOpen" class="panel-body">
    <div *ngIf="episodicEffects == null || episodicEffects.length == 0 " class="margin-bottom15">
      No information available for episodic effects
    </div>
    <div *ngFor="let episodicEffect of episodicEffects; let i = index">
      <div class="panel panel-level-2" id="episodicEffect_{{i}}">
        <div class="panel-heading">
          <span class="panel-title cursor-ptr"
                (click)="status.isEpisodicEffectOpen[i] = miscUtilsService.scrollIntoView($event, status.isEpisodicEffectOpen[i])">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': status.isEpisodicEffectOpen[i], 'glyphicon-plus-sign': !status.isEpisodicEffectOpen[i]}">
            </i>
            <span *ngIf="i == 0">
              Current Episodic Effect (Since {{ getDate(episodicEffect.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]) }})
            </span>
            <span *ngIf="i != 0">
              Previous Episodic Effect ({{ getDate(episodicEffect.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]) }}
              &ndash; {{ getDate(episodicEffect.validTime.abstractTimePrimitive['gml:TimePeriod'].endPosition.value[0]) }})
            </span>
          </span>
          <span *ngIf="i == 0 && status.hasNewEpisodicEffect" class="pull-right">
            <button class="btn btn-danger btn-rm"
                    title="Remove current new episodic effect"
                    (click)="removeNewEpisodicEffect()">
              <i class="glyphicon glyphicon-remove"></i>
              <span class="hidden-xs">Remove</span>
            </button>
          </span>
          <span *ngIf="i == 1 && episodicEffects.length >= 3" class="pull-right">
            <button *ngIf="!arePreviousEpisodicEffectsOpen()" class="btn-toggle"
                                                              (click)="togglePreviousEpisodicEffects(true); miscUtilsService.showElemById('episodicEffect_1');"
                                                              title="Show all previous episodic effects">
              <i class="glyphicon glyphicon-collapse-down"></i>
            </button>
            <button *ngIf="!arePreviousEpisodicEffectsClosed()" class="btn-toggle"
                                                                (click)="togglePreviousEpisodicEffects(false)"
                                                                title="Hide all previous episodic effects">
              <i class="glyphicon glyphicon-collapse-up"></i>
            </button>
          </span>
        </div>
        <div class="panel-body" *ngIf="status.isEpisodicEffectOpen[i]">
          <div *ngIf=" episodicEffect == null " class="margin-bottom15">
            No information available for current episodic effect
          </div>
          <div *ngIf=" episodicEffect != null ">
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Event</label>
              <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                                                   [(ngModel)]="episodicEffect.event"
                                                   name="event_{{i}}"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Start Date (UTC)</label>
              <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                <datetime-picker [(datetime)]="episodicEffect.validTime.abstractTimePrimitive['gml:TimePeriod'].beginPosition.value[0]"
                   [name]=" 'Start Date' "
                   [required]="true"></datetime-picker>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">End Date (UTC)</label>
              <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                <datetime-picker [(datetime)]="episodicEffect.validTime.abstractTimePrimitive['gml:TimePeriod'].endPosition.value[0]"
                   [name]=" 'End Date' "
                   [required]="i != 0"></datetime-picker>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
