<div [formGroup]="itemGroup" class="panel panel-level-2" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr" (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="gnssReceiver.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': gnssReceiver.dateDeleted}">
            <button [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the GNSS receiver"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
        </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" gnssReceiver == null ">
            No information available for GNSS Receivers
        </div>
        <div *ngIf="gnssReceiver != null" [ngClass]="{'container-dirty': gnssReceiver.dateDeleted}">
            <text-input formControlName="receiverType" controlName="receiverType" [form]="itemGroup">Receiver Type</text-input>
            <text-input formControlName="manufacturerSerialNumber" controlName="manufacturerSerialNumber" [form]="itemGroup">Serial Number</text-input>
            <text-input formControlName="firmwareVersion" controlName="firmwareVersion" [form]="itemGroup">Firmware Version</text-input>
            <text-input formControlName="satelliteSystem" controlName="satelliteSystem" [form]="itemGroup">Satellite System</text-input>
            <number-input formControlName="elevationCutoffSetting" controlName="elevationCutoffSetting" [form]="itemGroup"
                [step]="1">Elevation Cutoff Setting (degrees)</number-input>
            <number-input formControlName="temperatureStabilization" controlName="temperatureStabilization" [form]="itemGroup"
                [step]="1">Temperature Stabilization (&deg;C)</number-input>
            <datetime-input [form]="itemGroup" controlName="startDate">Date Installed (UTC)</datetime-input>
            <datetime-input [form]="itemGroup" controlName="endDate" [required]="index != 0">Date Removed (UTC)</datetime-input>
            <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">Notes</textarea-input>
        </div>
    </div>
</div>
