<div [formGroup]="parentForm" class="panel panel-level-1" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading group-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleGroup($event)"
            (keyup.enter)="toggleGroup($event)"
            (click)="toggleGroup($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
            </i>
            {{getItemName()}}s
        </span>
        <span class="pull-right">
            <button type="button" class="btn btn-similar btn-xs" title="Add a new {{getItemName()}}"
                [disabled]="!isEditable" (click)="addNew($event); miscUtils.showFullView($event);">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New <span class="hidden-xxs">Receiver</span>
            </button>
        </span>
    </div>
    <div class="panel-body group-body" [hidden]="! isGroupOpen">
        <div *ngIf="!hasItems()">
            No information available for GNSS Receivers
        </div>
        <div formArrayName="gnssReceivers">
            <div *ngFor="let gnssReceiver of getItems(); let i = index">
                    <!-- [geodesyEvent] - send event to child components -->
                    <!-- (open/close Above/Below Event) - receive events from child components -->
                    <!-- (returnEvents) - single point to call events on parent -->
                <gnss-receiver-item [groupArray]="groupArrayForm"
                                      [gnssReceiver]="gnssReceiver"
                                      [formGroupName]="i"
                                      [total]="items.length"
                                      [index]="i"
                                      [geodesyEvent]="geodesyEvent"
                                      (returnEvents)="returnEvents($event)"></gnss-receiver-item>
            </div>
        </div>
    </div>
</div>
