<div [formGroup]="parentForm" class="panel panel-level-1" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
  <div class="panel-heading">
    <span class="panel-title cursor-ptr" tabindex="0" 
      (keyup.space)="toggleGroup($event)"
      (keyup.enter)="toggleGroup($event)"
      (click)="toggleGroup($event)">
      <i class="glyphicon"
         [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
      </i>
      {{getItemName()}}s
    </span>
	<span class="pull-right">
	  <button type="button" class="btn btn-similar btn-xs"
	          [disabled]="!isEditable()"
	          title="Add a new {{getItemName()}}"
	          (click)="addNew($event); miscUtils.showFullView($event);">
	    <i class="glyphicon glyphicon-plus-sign"></i>
	    New <span class="hidden-xxs">Antenna</span>
	  </button>
	</span>
  </div>
  <div class="panel-body" [hidden]="! isGroupOpen">
    <div class="margin-bottom15" *ngIf="!hasItems()">
      No information available for {{getItemName()}}
    </div>
      <div formArrayName="gnssAntennas">
          <div *ngFor="let antenna of getItems(); let i = index">
      <gnss-antenna-item [groupArray]="groupArrayForm"
                         [antenna]="antenna"
                         [formGroupName]="i"
                         [total]="items.length"
                         [index]="i"
                         [geodesyEvent]="geodesyEvent"
                         (returnEvents)="returnEvents($event)">
      </gnss-antenna-item>
    </div>
      </div>
  </div>
</div>
