<div [formGroup]="itemGroup" class="panel panel-level-2" id="antenna_{{index}}" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
  <div class="panel-heading">
        <span class="panel-title cursor-ptr" (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon" [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml(antenna.dateInstalled, antenna.dateRemoved)"></span>
      </span>
    <span *ngIf="antenna.dateDeleted" class="delete-marker"
        title="It will be deleted when saving all changes for the site">
        (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
    </span>
    <span class="pull-right" [ngClass]="{'hidden-xs': antenna.dateDeleted}">
      <button [disabled]="antenna.dateDeleted"
              class="btn btn-danger btn-rm"
              title="{{getRemoveOrDeletedText()}} the GNSS antenna"
              (click)="removeItem(index)">
        <i class="glyphicon glyphicon-remove"></i>
        <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
        </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div class="margin-bottom15" *ngIf=" antenna == null ">
            No information available for current GNSS Antenna
        </div>
        <div *ngIf="antenna != null" [ngClass]="{'container-dirty': antenna.dateDeleted}">
            <div class="form-group">
                <text-input formControlName="antennaType" controlName="antennaType" [form]="itemGroup">Antenna Type</text-input>
                <text-input formControlName="serialNumber" controlName="serialNumber" [form]="itemGroup">Serial Number</text-input>
                <text-input formControlName="antennaReferencePoint" controlName="antennaReferencePoint" [form]="itemGroup">Antenna Reference Point</text-input>
                <number-input step="0.0001" min="0.0000" formControlName="markerArpUpEcc" controlName="markerArpUpEcc" [form]="itemGroup">Marker ARP Up Eccentricity (m)</number-input>
                <number-input step="0.0001" min="0.0000" formControlName="markerArpNorthEcc" controlName="markerArpUpEcc" [form]="itemGroup">Marker ARP North Eccentricity (m)</number-input>
                <number-input step="0.0001" min="0.0000" formControlName="markerArpEastEcc" controlName="markerArpUpEcc" [form]="itemGroup">Marker ARP East Eccentricity (m)</number-input>
                <number-input step="1" min="-359" max="359" formControlName="alignmentFromTrueNorth" controlName="markerArpUpEcc" [form]="itemGroup">Alignment From True North (degrees)</number-input>
                <text-input formControlName="antennaRadomeType" controlName="antennaRadomeType" [form]="itemGroup">Radome Type</text-input>
                <text-input formControlName="radomeSerialNumber" controlName="radomeSerialNumber" [form]="itemGroup">Radome Serial Number</text-input>
                <text-input formControlName="antennaCableType" controlName="antennaCableType" [form]="itemGroup">Antenna Cable Type</text-input>
                <number-input step="0.01" min="0" formControlName="antennaCableLength" controlName="antennaCableLength" [form]="itemGroup">Antenna Cable Length (m)</number-input>
                <datetime-input formControlName="dateInstalled" controlName="dateInstalled" [form]="itemGroup">Date Installed (UTC)</datetime-input>
                <datetime-input formControlName="dateRemoved" controlName="dateRemoved" [index]="index" [form]="itemGroup">Date Removed (UTC)</datetime-input>
                <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">Notes</textarea-input>
            </div>
        </div>
    </div>
