<div [formGroup]="siteLocationForm" class="panel panel-level-2">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
              (keyup.space)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
              (keyup.enter)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            Site Location
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
        <span [hidden]="isNew || !isDeleted" class="delete-marker"
              title="It will be deleted when saving all changes for the site">
            (<span class="hidden-xxxs">marked </span>to delete)
        </span>
        <span [hidden]="siteLocation != null" class="pull-right">
            <button class="btn btn-similar btn-xs"
                    title="Add a new {{getItemName()}}"
                    [disabled]="!isEditable"
                    (click)="addNew($event); miscUtils.showFullView($event);">
                <i class="glyphicon glyphicon-plus-sign"></i>
                New <span class="hidden-xxs">{{getItemName()}}</span>
            </button>
        </span>
        <span [hidden]="!isNew || siteLocation == null" class="pull-right">
            <button type="button"
                    [disabled]="isDeleteDisabled()"
                    class="btn btn-danger btn-xs"
                    title="{{getRemoveOrDeletedText()}} the {{getItemName()}}"
                    (click)="removeItem()">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isOpen">
        <div class="margin-bottom15" [hidden]="siteLocation != null">
            No information available for {{getItemName()}}
        </div>
        <div class="margin-bottom15" [hidden]="siteLocation == null">
            <div class="form-group">
                <text-input [form]="siteLocationForm" controlName="city">City / Town
                </text-input>
                <text-input [form]="siteLocationForm" controlName="state">State / Province
                </text-input>
                <text-input [form]="siteLocationForm" controlName="countryCodeISO">Country Code ISO
                </text-input>
                <text-input [form]="siteLocationForm" controlName="tectonicPlate">Tectonic Plate
                </text-input>

                <div formGroupName="cartesianPosition">
                    <number-input [form]="cartesianPositionForm" controlName="x" [required]="isCartesianPositionRequired">X Coordinate (m)
                    </number-input>
                    <number-input [form]="cartesianPositionForm" controlName="y" [required]="isCartesianPositionRequired">Y Coordinate (m)
                    </number-input>
                    <number-input [form]="cartesianPositionForm" controlName="z" [required]="isCartesianPositionRequired">Z Coordinate (m)
                    </number-input>
                </div>
                <div formGroupName="geodeticPosition">
                    <number-input [form]="geodeticPositionForm" controlName="lat" [required]="isGeodeticPositionRequired">Latitude (dd)
                    </number-input>
                    <number-input [form]="geodeticPositionForm" controlName="lon" [required]="isGeodeticPositionRequired">Longitude (dd)
                    </number-input>
                    <number-input [form]="geodeticPositionForm" controlName="height" [required]="isGeodeticPositionRequired">Ellipsoidal Height (m)
                    </number-input>
                </div>

                <textarea-input [form]="siteLocationForm" controlName="notes">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
