<div [formGroup]="siteLocationForm" class="panel panel-level-2"
     [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
              (keyup.space)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
              (keyup.enter)="isOpen = miscUtils.scrollIntoView($event, isOpen)"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            Site Location
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
        <span [hidden]="isNew || !isDeleted" class="delete-marker"
              title="It will be deleted when saving all changes for the site">
            (<span class="hidden-xxxs">marked </span>to delete)
        </span>
        <span [hidden]="siteLocation != null" class="pull-right">
            <button class="btn btn-similar btn-xs"
                    title="Add a new {{getItemName()}}"
                    [disabled]="!isEditable()"
                    (click)="addNew($event); miscUtils.showFullView($event);">
                <i class="glyphicon glyphicon-plus-sign"></i>
                New <span class="hidden-xxs">{{getItemName()}}</span>
            </button>
        </span>
        <span [hidden]="!isNew || siteLocation == null" class="pull-right">
            <button type="button"
                    [disabled]="isDeleteDisabled()"
                    class="btn btn-danger btn-xs"
                    title="{{getRemoveOrDeletedText()}} the {{getItemName()}}"
                    (click)="removeItem()">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isOpen">
        <div class="margin-bottom15" [hidden]="siteLocation != null">
            No information available for {{getItemName()}}
        </div>
        <div class="margin-bottom15" [hidden]="siteLocation == null">
            <div class="form-group">
                <text-input formControlName="city" controlName="city"
                            [form]="siteLocationForm">City / Town
                </text-input>
                <text-input formControlName="state" controlName="state"
                            [form]="siteLocationForm">State / Province
                </text-input>
                <text-input formControlName="countryCodeISO" controlName="countryCodeISO"
                            [form]="siteLocationForm">Country Code ISO
                </text-input>
                <text-input formControlName="tectonicPlate" controlName="tectonicPlate"
                            [form]="siteLocationForm">Tectonic Plate
                </text-input>

                <div formGroupName="cartesianPosition">
                    <number-input formControlName="x" controlName="x"
                                  [form]="cartesianPositionForm">X Coordinate (m)
                    </number-input>
                    <number-input formControlName="y" controlName="y"
                                  [form]="cartesianPositionForm">Y Coordinate (m)
                    </number-input>
                    <number-input formControlName="z" controlName="z"
                                  [form]="cartesianPositionForm">Z Coordinate (m)
                    </number-input>
                </div>
                <div formGroupName="geodeticPosition">
                    <number-input formControlName="lat" controlName="lat"
                                  [form]="geodeticPositionForm">Latitude (dd)
                    </number-input>
                    <number-input formControlName="lon" controlName="lon"
                                  [form]="geodeticPositionForm">Longitude (dd)
                    </number-input>
                    <number-input formControlName="height" controlName="height"
                                  [form]="geodeticPositionForm">Ellipsoidal Height (m)
                    </number-input>
                </div>

                <textarea-input formControlName="notes" controlName="notes"
                                [form]="siteLocationForm">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
