<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>

<h3>Clear Service Worker Cache</h3>
<button (click)="clearCache()">Clear now!</button>
<button (click)="updateCacheList()">Display Cache</button>
<p>Cache Keys for cache :</p> <!-- {{cacheName}} -->
<ul>
  <li *ngFor="let item of cacheItems">{{item}}</li>
</ul>
