<div [formGroup]="parentForm" class="panel panel-level-1" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
  <div class="panel-heading group-header">
    <span class="panel-title cursor-ptr" tabindex="0"
        (keyup.space)="toggleGroup($event)"
        (keyup.enter)="toggleGroup($event)"
        (click)="toggleGroup($event)">
        <i class="glyphicon"
           [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
        </i>
        {{getItemName()}}s
    </span>
    <span class="pull-right">
      <button type="button" class="btn btn-similar btn-xs"
              [disabled]="!isEditable()"
              title="Add a new {{getItemName()}}"
              (click)="addNew($event); miscUtils.showFullView($event);">
        <i class="glyphicon glyphicon-plus-sign"></i>
        New <span class="hidden-xxs">{{getItemName()}}</span>
      </button>
    </span>
  </div>
  <div class="panel-body group-body" [hidden]="! isGroupOpen">
    <div *ngIf="!hasItems()" class="margin-bottom15">
      No information available for {{getItemName()}}s
    </div>
      <div formArrayName="frequencyStandards">
          <div *ngFor="let frequencyStandard of getItems(); let i = index">
              <frequency-standard-item [groupArray]="groupArrayForm"
                                       [frequencyStandard]="frequencyStandard"
                                       [formGroupName]="i"
                                  [total]="items.length"
                                  [index]="i"
                                  [geodesyEvent]="geodesyEvent"
                                  (returnEvents)="returnEvents($event)">
              </frequency-standard-item>
          </div>
      </div>
  </div>
</div>
