<div class="panel panel-level-2" id="frequencyStandard_{{index}}">
  <div class="panel-heading">
    <span class="panel-title cursor-ptr"
          (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
      <i class="glyphicon"
         [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
      </i>
      <span *ngIf="index == 0">
        Current Frequency Standard (Since {{ miscUtils.getDate(frequencyStandard.startDate) }})
      </span>
      <span *ngIf="index != 0">
        Previous Frequency Standard ({{ miscUtils.getDate(frequencyStandard.startDate) }}
        &ndash; {{ miscUtils.getDate(frequencyStandard.endDate) }})
      </span>
    </span>
    <span class="pull-right">
      <button class="btn btn-danger btn-rm"
              title="{{getRemoveOrDeletedText()}} the frequency standard"
              (click)="removeItem(index)">
        <i class="glyphicon glyphicon-remove"></i>
        <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
      </button>
    </span>
  </div>
  <div class="panel-body" *ngIf="isOpen">
    <div *ngIf=" frequencyStandard == null " class="margin-bottom15">
      No information available for current frequency standard
    </div>
    <div *ngIf=" frequencyStandard != null ">
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Standard Type</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="text" maxlength="100"
                 class="form-control"
                 [(ngModel)]="frequencyStandard.standardType"
                 name="standardType_{{index}}"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Input Frequency</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <input type="number" maxlength="100"
                 class="form-control"
                 [(ngModel)]="frequencyStandard.inputFrequency"
                 name="inputFrequency_{{index}}"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Installed (UTC)</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <datetime-picker [(datetime)]="frequencyStandard.startDate"
                           [name]=" 'Date Installed' "
                           [required]="true"></datetime-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Removed (UTC)</label>
        <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
          <datetime-picker [(datetime)]="frequencyStandard.endDate"
                           [name]=" 'Date Removed' "
                           [required]="index != 0"></datetime-picker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Notes</label>
        <div class="col-md-8 col-sm-8 col-xs-7 col-xxs-12">
          <textarea maxlength="2000" rows="2" class="form-textarea"
                    [(ngModel)]="frequencyStandard.notes"
                    name="frequencyStandardNotes_{{index}}"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
