<div [formGroup]="itemGroup" class="panel panel-level-2" id="frequencyStandard_{{index}}" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
  <div class="panel-heading">
    <span class="panel-title cursor-ptr" (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
        <i class="glyphicon"[ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
        </i>
        <span [innerHTML]="getItemHeaderHtml(frequencyStandard.startDate, frequencyStandard.endDate)"></span>
    </span>
    <span *ngIf="frequencyStandard.dateDeleted" class="delete-marker"
        title="It will be deleted when saving all changes for the site">
        (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
    </span>
    <span class="pull-right" [ngClass]="{'hidden-xs': frequencyStandard.dateDeleted}">
        <button [disabled]="isDeleteDisabled()"
              class="btn btn-danger btn-rm"
              title="{{getRemoveOrDeletedText()}} the frequency standard"
              (click)="removeItem(index)">
        <i class="glyphicon glyphicon-remove"></i>
        <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
        </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" frequencyStandard == null " class="margin-bottom15">
            No information available for current frequency standard
        </div>
        <div *ngIf="frequencyStandard != null" [ngClass]="{'container-dirty': frequencyStandard.dateDeleted}">
            <div class="form-group">
                <text-input formControlName="standardType" controlName="standardType" [form]="itemGroup">Standard Type</text-input>
                <number-input formControlName="inputFrequency" controlName="inputFrequency" [form]="itemGroup">Input Frequency</number-input>
                <datetime-input formControlName="startDate" controlName="startDate" [form]="itemGroup">Date Installed (UTC)</datetime-input>
                <datetime-input formControlName="endDate" controlName="endDate" [index]="index" [form]="itemGroup">Date Removed (UTC)</datetime-input>
                <textarea-input rows="2" formControlName="notes" controlName="notes" [form]="itemGroup">Notes</textarea-input>
            </div>
        </div>
    </div>
</div>
