<div class="panel panel-info">
  <div class="panel-heading">
          <span class="panel-title cursor-ptr" (click)="status.isReceiverGroupOpen = !status.isReceiverGroupOpen">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': status.isReceiverGroupOpen, 'glyphicon-plus-sign': !status.isReceiverGroupOpen}">
            </i>
            GNSS Receiver
          </span>
          <span class="pull-right">
            <button class="btn btn-primary btn-xs" title="Add a new receiver as current one"
                    [disabled]="hasNewReceiver" (click)="addNewReceiver()">
              <i class="glyphicon glyphicon-plus-sign"></i>
              New Receiver
            </button>
          </span>
  </div>
  <div class="panel-body" *ngIf="status.isReceiverGroupOpen">
    <div *ngIf="gnssReceivers == null || gnssReceivers.length == 0 ">
      No information available for GNSS Receivers
    </div>
    <div *ngFor="let receiver of gnssReceivers; let i = index">
      <div class="panel panel-warning">
        <div class="panel-heading">
                <span class="panel-sub-title cursor-ptr" (click)="status.isReceiversOpen[i] = !status.isReceiversOpen[i]">
                  <i class="glyphicon"
                     [ngClass]="{'glyphicon-minus-sign': status.isReceiversOpen[i], 'glyphicon-plus-sign': !status.isReceiversOpen[i]}">
                  </i>
                  <span *ngIf="i == 0">
                    Current GNSS Receiver (Since {{ getDate(receiver.dateInstalled.value[0]) }})
                  </span>
                  <span *ngIf="i != 0">
                    Previous GNSS Receiver ({{ getDate(receiver.dateInstalled.value[0]) }} &ndash; {{ getDate(receiver.dateRemoved.value[0]) }})
                  </span>
                </span>
                <span class="pull-right" *ngIf="i == 0 && hasNewReceiver">
                  <button class="btn btn-danger btn-xs" title="Remove the new current receiver" (click)="removeNewReceiver()">
                    <i class="glyphicon glyphicon-remove"></i>
                    Remove
                  </button>
                </span>
                <span *ngIf="i == 1 && gnssReceivers.length >= 3" class="toggle-button">
                  <button class="button-xs" *ngIf="!arePrevReceiversOpen()" (click)="togglePrevReceivers(true)"
                          title="Show all previous receivers">
                    <i class="glyphicon glyphicon-collapse-down"></i>
                  </button>
                  <button class="button-xs" *ngIf="!arePrevReceiversClosed()" (click)="togglePrevReceivers(false)"
                          title="Hide all previous receivers">
                    <i class="glyphicon glyphicon-collapse-up"></i>
                  </button>
                </span>
        </div>
        <div class="panel-body" *ngIf="status.isReceiversOpen[i]">
          <div *ngIf=" receiver == null ">
            No information available for current GNSS Receiver
          </div>
          <div *ngIf=" receiver != null ">
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Receiver Type</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.receiverType.codeListValue"
                       name="receiverType_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Serial Number</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.manufacturerSerialNumber"
                       name="receiverSerialNumber_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Firmware Version</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.firmwareVersion"
                       name="receiverFirmwareVersion_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Satellite System</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.satelliteSystem[0].value"
                       name="receiverSatelliteSystem_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Elevation Cutoff Setting (&deg;C)</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.elevationCutoffSetting"
                       name="receiverElevetionCutoffSetting_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Installed</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.dateInstalled.value[0]"
                       name="receiverDateInstalled_{{i}}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Date Removed</label>
              <div class="col-md-4 col-sm-5 col-xs-7 col-xxs-12">
                <input type="text" maxlength="100" class="form-control"
                       [(ngModel)]="receiver.dateRemoved.value[0]"
                       name="receiverDateRemoved_{{i}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
