body {
  min-width: 200px;
  word-wrap: break-word;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
.container::before {
  content: "";
  display: table;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.align-center {
  margin: 0 auto;
  padding-top: 10px;
  width: 250px;
}

.loading-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url('../assets/ajax-loader.gif') 50% 50% no-repeat;
}
.loading-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #106cc8;
  font-size: 18px;
  z-index: 101;
}

.clear-pad {
  padding: 0 !important;
}
.pad-sm {
  padding-left: 5px;
  padding-right: 5px;
}
ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

.table-hover tbody tr:hover > td {
  background-color: #e5f5e0 !important;
  color: #2a2aff;
  cursor: pointer;
}
.form-group.required .control-label::after,
.form-group .control-label.required::after {
  color: red;
  content: "*";
}
.required-field .required-field::after {
  color: red;
  content: "*";
}
.tips {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #106cc8;
}
.hint {
  color: #999;
  line-height: 30px;
  padding: 5px;
}

.cursor-ptr {
  cursor: pointer;
}
.button-xs {
  background-color: #fff;
  line-height: 18px !important;
  border: 0 !important;
  padding: 0 !important;
}
.toggle-button {
  float: right;
  font-size: 18px;
  margin: 0;
}
.panel-heading,
.panel-body {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.panel-title {
  font-family: "Roboto", sans-serif !important;
}
.panel-sub-title {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-group-icon {
  color: #fff !important;
  background-color: #555 !important;
}

.margin-top20 {
  float: left;
  margin-top: 20px;
}
.margin50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.margin50-first {
  margin-right: 50px !important;
}
.margin20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.margin20-first {
  margin-right: 20px !important;
}
.margin10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.margin10-first {
  margin-right: 10px !important;
}

/* Override bootstrap stylings */
.well {
  background-color: #fff !important;
  margin-bottom: 0 !important;
  padding: 10px !important;
  border: 0 !important;
}
.alert {
  padding: 5px;
  margin-bottom: 0;
}
.control-label {
  font-weight: normal;
  margin-top: 0;
}
@media (max-width: 768px) {
  .control-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.form-control {
  height: 26px !important;
  padding: 0 8px !important;
}
.form-group {
  margin-bottom: 8px !important;
}
.panel-group .panel {
  margin-top: 5px;
}
.panel-group .panel-body {
  border-top: 1px solid #ddd !important;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 451px) AND (max-width: 550px) {
  .col-xs-7 {
    padding-left: 0 !important;
  }

  .col-xs-5 {
    padding-left: 0 !important;
  }
}

@media (min-width: 451px) {
  .form-horizontal .control-label {
    padding-top: 0 !important;
    text-align: right;
  }
}

/* Special CSS classes -xxs for small devices such as smart phone (portrait) */
@media (max-width: 450px) {
  .col-xxs-1,
  .col-xxs-10,
  .col-xxs-11,
  .col-xxs-12,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9 {
    float: left;
    min-height: 1px;
    padding: 0 5px;
    position: relative;
  }

  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-11 {
    width: 91.6667%;
  }
  .col-xxs-10 {
    width: 83.3333%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.6667%;
  }
  .col-xxs-7 {
    width: 58.3333%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-5 {
    width: 41.6667%;
  }
  .col-xxs-4 {
    width: 33.3333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.6667%;
  }
  .col-xxs-1 {
    width: 8.33333%;
  }
  .col-xxs-pull-12 {
    right: 100%;
  }
  .col-xxs-pull-11 {
    right: 91.6667%;
  }
  .col-xxs-pull-10 {
    right: 83.3333%;
  }
  .col-xxs-pull-9 {
    right: 75%;
  }
  .col-xxs-pull-8 {
    right: 66.6667%;
  }
  .col-xxs-pull-7 {
    right: 58.3333%;
  }
  .col-xxs-pull-6 {
    right: 50%;
  }
  .col-xxs-pull-5 {
    right: 41.6667%;
  }
  .col-xxs-pull-4 {
    right: 33.3333%;
  }
  .col-xxs-pull-3 {
    right: 25%;
  }
  .col-xxs-pull-2 {
    right: 16.6667%;
  }
  .col-xxs-pull-1 {
    right: 8.33333%;
  }
  .col-xxs-pull-0 {
    right: auto;
  }
  .col-xxs-push-12 {
    left: 100%;
  }
  .col-xxs-push-11 {
    left: 91.6667%;
  }
  .col-xxs-push-10 {
    left: 83.3333%;
  }
  .col-xxs-push-9 {
    left: 75%;
  }
  .col-xxs-push-8 {
    left: 66.6667%;
  }
  .col-xxs-push-7 {
    left: 58.3333%;
  }
  .col-xxs-push-6 {
    left: 50%;
  }
  .col-xxs-push-5 {
    left: 41.6667%;
  }
  .col-xxs-push-4 {
    left: 33.3333%;
  }
  .col-xxs-push-3 {
    left: 25%;
  }
  .col-xxs-push-2 {
    left: 16.6667%;
  }
  .col-xxs-push-1 {
    left: 8.33333%;
  }
  .col-xxs-push-0 {
    left: auto;
  }
  .col-xxs-offset-12 {
    margin-left: 100%;
  }
  .col-xxs-offset-11 {
    margin-left: 91.6667%;
  }
  .col-xxs-offset-10 {
    margin-left: 83.3333%;
  }
  .col-xxs-offset-9 {
    margin-left: 75%;
  }
  .col-xxs-offset-8 {
    margin-left: 66.6667%;
  }
  .col-xxs-offset-7 {
    margin-left: 58.3333%;
  }
  .col-xxs-offset-6 {
    margin-left: 50%;
  }
  .col-xxs-offset-5 {
    margin-left: 41.6667%;
  }
  .col-xxs-offset-4 {
    margin-left: 33.3333%;
  }
  .col-xxs-offset-3 {
    margin-left: 25%;
  }
  .col-xxs-offset-2 {
    margin-left: 16.6667%;
  }
  .col-xxs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xxs-offset-0 {
    margin-left: 0;
  }

  .panel-body {
    padding: 5px;
  }
  .form-horizontal .form-group {
    margin: 0 -5px 5px -5px;
  }

  .navbar-btn.btn {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .well {
    border-radius: 2px;
    padding: 5px;
  }
}
