body {
  min-width: 200px;
  word-wrap: break-word;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}
.container::before {
  content: "";
  display: table;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.align-center {
  margin: 0 auto;
  padding-top: 10px;
  width: 300px;
}

.loading-img {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: url('../assets/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.loading-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #106cc8;
  font-size: 18px;
	z-index: 101;
}

.clear-pad {
  padding: 0 !important;
}
.pad-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #d0f9b6 !important;
  color: #2a2aff;
}
.tips {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #106cc8;
}
.hint {
  color: #999;
  line-height: 30px;
  padding: 5px;
}

.button-xs {
  background-color: #fff;
  line-height: 18px !important;
  border: 0 !important;
  padding: 0 !important;
}
.toggle-button {
  float: right;
  font-size: 18px;
  margin: -20px -10px 0 0;
}
.panel-heading,
.panel-body {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.panel-title {
  font-family: "Roboto", sans-serif !important;
}
.panel-sub-title {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  background-color: e5f5f9;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion-group-icon {
  color: #fff !important;
  background-color: #555 !important;
}

.margin-top20 {
  float: left;
  margin-top: 20px;
}
.margin50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.margin50-first {
  margin-right: 50px !important;
}
.margin20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.margin20-first {
  margin-right: 20px !important;
}
.margin10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.margin10-first {
  margin-right: 10px !important;
}

/* Override bootstrap stylings */
.well {
  background-color: #fff !important;
  margin-bottom: 0 !important;
  padding: 10px !important;
  border: 0 !important;
}

.control-label {
  font-weight: normal;
  margin-top: 0;
}
@media (max-width: 768px) {
  .control-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.form-control {
  height: 26px !important;
  padding: 0 8px !important;
}
.form-group {
  margin-bottom: 8px !important;
}
.panel-group .panel {
  margin-top: 5px;
}
.panel-group .panel-body {
  border-top: 1px solid #ddd !important;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0 !important;
  }
}
