html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
  min-width: 300px;
  width: 100%;
  word-wrap: break-word;
}

.centered {
  display: block;
  float: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.align-center {
  margin: 0 auto;
  padding-top: 10px;
  width: 250px;
}

.loading-img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url('../assets/ajax-loader.gif') 50% 50% no-repeat;
}
.loading-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #106cc8;
  font-size: 18px;
  z-index: 101;
}

.clear-pad {
  padding: 0 !important;
}
.pad-sm {
  padding-left: 1px;
  padding-right: 1px;
}
ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

.table-hover tbody tr:hover > td {
  background-color: #e5f5e0;
  color: #2a2aff;
  cursor: pointer;
}
.form-group.required .control-label::after,
.form-group .control-label.required::after {
  color: red;
  content: "*";
}
.required-field .required-field::after {
  color: red;
  content: "*";
}
.tips {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}
.hint {
  color: #999;
  line-height: 30px;
}

.cursor-ptr {
  cursor: pointer;
}
.btn-rm {
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-top: -1px;
  padding: 1px 5px;
}
.btn-toggle {
  background-color: transparent;
  border: 0 !important;
  font-size: 18px;
  margin: 0;
  padding: 0 !important;
}
.btn-similar {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn-similar:hover,
.btn-similar:focus {
  background-color: #286090;
  border-color: #d9edf7;
  color: #d9edf7;
}

.panel-group .panel-level-1 {
  margin-top: 15px;
}
.panel-group .panel-level-2 {
  margin-bottom: 15px;
}
.panel-group .panel-heading {
  padding: 5px 15px;
}
.panel-group .panel-level-1 .panel-body {
  padding: 15px 15px 0;
}
.panel-group .panel-level-2 .panel-body {
  padding: 15px 15px 7px;
}
.panel-group .panel-level-1 > .panel-heading {
  background-color: #337ab7;
  color: #fff;
}
.panel-group .panel-level-1,
.panel-group .panel-level-1 > .panel-heading,
.panel-group .panel-level-1 > .panel-body {
  border-color: #31708f;
}
.panel-group .panel-level-2 > .panel-heading {
  background-color: #d9edf7;
  color: #2e3d54;
}
.panel-group .panel-level-2,
.panel-group .panel-level-2 > .panel-heading,
.panel-group .panel-level-2 > .panel-body {
  border-color: #bce8f1;
}
.panel-group .panel-level-1 .panel-title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.panel-group .panel-level-2 .panel-title {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.panel-group .panel-error {
  border: 1px solid #f2dede;
  margin: 10px 0;
  padding: 15px;
}

.accordion-group-icon {
  color: #fff !important;
  background-color: #555 !important;
}

.margin-top5 {
  margin-top: 5px;
}
.margin-top10 {
  margin-top: 10px;
}
.margin-top20 {
  float: left;
  margin-top: 20px;
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.margin-bottom15 {
  margin-bottom: 15px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.margin50-first {
  margin-right: 50px !important;
}
.margin20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.margin20-first {
  margin-right: 20px !important;
}
.margin10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.margin10-first {
  margin-right: 10px !important;
}

/* Override alertify.js for global dialogs */
.alertify .dialog {
  max-height: 98%;
  max-width: 98%;
  overflow-y: auto;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.alertify .dialog > * {
  width: 650px;
  min-width: 285px;
}
.alertify .dialog .title {
  background: #337ab7;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 8px;
  padding: 8px;
}
.alertify .dialog .body {
  padding: 0 !important;
  border: 0 !important;
}
.alertify .dialog .footer {
  color: #106cc8;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: italic;
  line-height: 1.42857143;
  margin-top: 10px;
}
.alertify .dialog ul {
  padding: 0 0 0 10px;
}
.alertify .dialog li {
  font-size: 12px;
  margin: 10px;
  padding: 0;
  text-align: left;
}
.alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
  background: transparent;
  border-radius: 2px;
  border: 1px solid #bce8f1;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}
.alertify .dialog .msg {
  padding: 0 !important;
}
.alertify .dialog .table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #bce8f1;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
}
.alertify .dialog .table caption {
  color: #286090;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
}
.alertify .dialog .table td {
  border-collapse: separate;
  border: 1px solid #bce8f1;
  font-size: 12px;
  padding: 1px 2px;
  text-align: left;
}
.alertify .dialog .table th {
  border-collapse: separate;
  border: 1px solid #bce8f1;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 2px;
  text-align: center;
}

/* Override bootstrap stylings */
.well {
  background-color: #fff !important;
  border: 0 !important;
  margin-bottom: 0 !important;
  padding: 10px;
}
.alert {
  margin-bottom: 0;
  padding: 5px;
}
.control-label {
  font-weight: normal;
  margin-top: 0;
}
@media (max-width: 768px) {
  .control-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.ajax-loader-img {
  height: 24px;
  width: 24px;
}

.calendar-popup .text-info { /* highlight today in datetime-picker calendar */
  color: #e31a1c;
}

form .ng-invalid {
  border: 1px solid #a94442;
}
.form-control {
  height: 26px;
  padding: 0 8px;
}
.form-group {
  margin-bottom: 8px;
}
.form-textarea {
  display: block;
  padding: 0 8px !important;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 451px) AND (max-width: 550px) {
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4 {
    padding-left: 0 !important;
  }
  .col-xs-6 {
    padding-right: 0 !important;
  }
}

@media (min-width: 451px) {
  .form-horizontal .control-label {
    padding-top: 0 !important;
    text-align: right;
  }
}

/* For Mobile devices - portrait and landscape */
@media (max-width: 767px) {
  .well {
    padding: 7px;
  }
  .form-control {
    padding: 0 5px;
  }
  .form-group {
    margin-bottom: 6px;
  }
  .panel-group .panel-level-1 {
    margin-top: 10px;
  }
  .panel-group .panel-level-2 {
    margin-bottom: 10px;
  }
  .panel-group .panel-heading {
    padding: 3px 10px;
  }
  .panel-group .panel-level-1 .panel-title {
    font-size: 15px;
  }
  .panel-group .panel-level-2 .panel-title {
    font-size: 14px;
  }
  .panel-group .panel-level-1 .panel-body {
    padding: 10px 10px 0;
  }
  .panel-group .panel-level-2 .panel-body {
    padding: 10px 10px 5px;
  }
  .panel-group .panel-error {
    margin: 10px 0;
    padding: 10px;
  }
  .btn-xs {
    line-height: 1.2;
  }
  .btn-rm {
    font-size: 11px;
    line-height: 1.1;
    padding: 1px 4px;
  }
  .btn-toggle {
    font-size: 16px;
  }
  .calendar-popup .btn-sm {
    border-radius: 3px;
    line-height: 1.4;
    padding: 4px 8px;
  }

  .ajax-loader-img {
    height: 21px;
    width: 21px;
  }

  .alertify .dialog {
    padding: 5px;
  }
  .alertify .dialog > * {
    width: 95%;
  }
  .alertify .dialog .title {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 6px;
    padding: 6px;
  }
  .alertify .dialog .footer {
    font-size: 13px;
    line-height: 1.31;
    margin: 8px 0;
  }
  .alertify .dialog ul {
    padding: 0 0 0 10px;
  }
  .alertify .dialog li {
    font-size: 11px;
    margin: 10px;
  }
  .alertify .dialog nav button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
    font-size: 13px;
    line-height: 26px;
    min-height: 26px;
    min-width: 76px;
    margin: 6px 8px;
    padding: 0 4px;
  }
  .alertify .dialog .table {
    margin-bottom: 6px;
  }
  .alertify .dialog .table caption {
    padding: 8px 8px 6px 0;
  }
}

/* Special CSS classes -xxs for small devices such as smart phone (portrait) */
@media (max-width: 450px) {
  .col-xxs-1,
  .col-xxs-10,
  .col-xxs-11,
  .col-xxs-12,
  .col-xxs-2,
  .col-xxs-3,
  .col-xxs-4,
  .col-xxs-5,
  .col-xxs-6,
  .col-xxs-7,
  .col-xxs-8,
  .col-xxs-9 {
    float: left;
    min-height: 1px;
    padding: 0 5px;
    position: relative;
  }

  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-11 {
    width: 91.6667%;
  }
  .col-xxs-10 {
    width: 83.3333%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.6667%;
  }
  .col-xxs-7 {
    width: 58.3333%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-5 {
    width: 41.6667%;
  }
  .col-xxs-4 {
    width: 33.3333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.6667%;
  }
  .col-xxs-1 {
    width: 8.33333%;
  }
  .col-xxs-pull-12 {
    right: 100%;
  }
  .col-xxs-pull-11 {
    right: 91.6667%;
  }
  .col-xxs-pull-10 {
    right: 83.3333%;
  }
  .col-xxs-pull-9 {
    right: 75%;
  }
  .col-xxs-pull-8 {
    right: 66.6667%;
  }
  .col-xxs-pull-7 {
    right: 58.3333%;
  }
  .col-xxs-pull-6 {
    right: 50%;
  }
  .col-xxs-pull-5 {
    right: 41.6667%;
  }
  .col-xxs-pull-4 {
    right: 33.3333%;
  }
  .col-xxs-pull-3 {
    right: 25%;
  }
  .col-xxs-pull-2 {
    right: 16.6667%;
  }
  .col-xxs-pull-1 {
    right: 8.33333%;
  }
  .col-xxs-pull-0 {
    right: auto;
  }
  .col-xxs-push-12 {
    left: 100%;
  }
  .col-xxs-push-11 {
    left: 91.6667%;
  }
  .col-xxs-push-10 {
    left: 83.3333%;
  }
  .col-xxs-push-9 {
    left: 75%;
  }
  .col-xxs-push-8 {
    left: 66.6667%;
  }
  .col-xxs-push-7 {
    left: 58.3333%;
  }
  .col-xxs-push-6 {
    left: 50%;
  }
  .col-xxs-push-5 {
    left: 41.6667%;
  }
  .col-xxs-push-4 {
    left: 33.3333%;
  }
  .col-xxs-push-3 {
    left: 25%;
  }
  .col-xxs-push-2 {
    left: 16.6667%;
  }
  .col-xxs-push-1 {
    left: 8.33333%;
  }
  .col-xxs-push-0 {
    left: auto;
  }
  .col-xxs-offset-12 {
    margin-left: 100%;
  }
  .col-xxs-offset-11 {
    margin-left: 91.6667%;
  }
  .col-xxs-offset-10 {
    margin-left: 83.3333%;
  }
  .col-xxs-offset-9 {
    margin-left: 75%;
  }
  .col-xxs-offset-8 {
    margin-left: 66.6667%;
  }
  .col-xxs-offset-7 {
    margin-left: 58.3333%;
  }
  .col-xxs-offset-6 {
    margin-left: 50%;
  }
  .col-xxs-offset-5 {
    margin-left: 41.6667%;
  }
  .col-xxs-offset-4 {
    margin-left: 33.3333%;
  }
  .col-xxs-offset-3 {
    margin-left: 25%;
  }
  .col-xxs-offset-2 {
    margin-left: 16.6667%;
  }
  .col-xxs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xxs-offset-0 {
    margin-left: 0;
  }
  .col-xxs-center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .form-horizontal .form-group {
    margin: 0 -5px 5px -5px;
  }

  .navbar-btn.btn {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .hidden-xxs {
    display: none !important;
  }
  .visible-xxs {
    display: block !important;
  }
  table.visible-xxs {
    display: table !important;
  }
  tr.visible-xxs {
    display: table-row !important;
  }
  th.visible-xxs,
  td.visible-xxs {
    display: table-cell !important;
  }
  .visible-xxs-block {
    display: block !important;
  }
  .visible-xxs-inline {
    display: inline !important;
  }
  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}
