<div class="form-group">
    <label [for]="controlName" *ngIf="isRequired()" class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">{{label}}</label>
    <label [for]="controlName" *ngIf="!isRequired()" class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">{{label}}</label>

    <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
        <input type="text" [(ngModel)]="datetimeDisplay" [id]="controlName" type="text" class="form-control"/>
        <small>{{getErrorReport(controlName)}}</small>
    </div>
</div>
