<div class="form-group">

    <label *ngIf="required" class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required"><ng-content></ng-content></label>
    <label *ngIf="!required" class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label"><ng-content></ng-content></label>

    <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">

             <!--class="form-control"-->
         <textarea
             class="form-control"
             [(ngModel)]="model"
             required="{{required}}"
             rows="{{rows}}"
             [ngClass]="{'ng-dirty': isDirty(controlName), 'ng-invalid': isInValid(controlName), 'ng-valid': isValid(controlName)}">
         </textarea>
             <!--[ngClass]="{'gnss-invalid':isInValid(controlName)}">-->

        <small>{{getErrorReport(controlName)}}</small>
    </div>
</div>
