<div class="form-group" [formGroup]="form">
    <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label"
           [ngClass]="{'required': required}">
        <ng-content></ng-content>
    </label>
    <div class="text-input" class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
        <input (keyup.enter)="ignoreEvent($event);"
            type="text"
            [readonly]="getReadonlyAttribute()"
            [formControlName]="controlName"
            class="form-control"
            maxlength="{{maxlength}}"/>
        <small [hidden]="!formControl.errors" class="alert alert-danger">
            {{getErrorReport()}}
        </small>
    </div>
</div>
