<div [formGroup]="itemGroup" class="panel panel-level-2" id="collocation-information-{{index}}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleItem($event)"
            (keyup.enter)="toggleItem($event)"
            (click)="toggleItem($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="getItem().dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': getItem().dateDeleted}">
            <button [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the {{getItemName()}}"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div *ngIf=" getItem() == null ">
            No information available for current {{getItemName()}}
        </div>
        <div *ngIf="getItem() != null" [ngClass]="{'container-dirty': getItem().dateDeleted}">
            <div class="form-group">
                <text-input [form]="itemGroup" controlName="instrumentationType">Instrumentation Type</text-input>
                <text-input [form]="itemGroup" controlName="status">Status</text-input>
                <datetime-input [form]="itemGroup" controlName="startDate" [required]="true">Date Installed (UTC)</datetime-input>
                <datetime-input [form]="itemGroup" controlName="endDate">Date Removed (UTC)</datetime-input>
                <textarea-input [form]="itemGroup" controlName="notes" rows="2">Notes</textarea-input>
            </div>
       </div>
    </div>
</div>
