.form-group.required .control-label::after,
.form-group .control-label.required::after {
  color: red;
  content: "*";
}
.checkbox-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  padding: 5px 0 0;
}
.checkbox-group label {
  font-weight: normal;
  margin: 0;
  padding: 0 2px;
}
.checkbox-group input:hover {
  cursor: pointer;
}
.checkbox-group input[disabled]:hover {
  cursor: not-allowed;
}
.checkbox-group label:hover:not(.disabled),
.checkbox-group label:focus:not(.disabled) {
  color: #006983;
  background-color: #f0f0f0;
  cursor: pointer;
}
.checkbox-group.ng-dirty {
  border-color: #00b300;
  background-color: #ebffeb;
}
.checkbox-group.disabled,
.checkbox-group .disabled {
  background-color: #f0f0f0;
  border-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 1200px) and (min-width: 768px){
  .checkbox-group .small-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 550px) and (min-width: 451px){
  .checkbox-group .col-xs-4,
  .checkbox-group .col-xs-5,
  .checkbox-group .col-xs-6 {
    padding-left: 10px !important;
  }
}
