<div [formGroup]="itemGroup" class="panel panel-level-2" id="surveyed-local-tie-{{index}}">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="toggleItem($event)"
            (keyup.enter)="toggleItem($event)"
            (click)="toggleItem($event)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            <span [innerHTML]="getItemHeaderHtml()"></span>
        </span>
        <span *ngIf="surveyedLocalTie.dateDeleted" class="delete-marker"
            title="It will be deleted when saving all changes for the site">
            (<span [ngClass]="{'hidden-xxxs': index != 0}">marked </span>to delete)
        </span>
        <span class="pull-right" [ngClass]="{'hidden-xs': surveyedLocalTie.dateDeleted}">
            <button type="button" [disabled]="isDeleteDisabled()"
                  class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the surveyed local tie"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{ getRemoveOrDeletedText() }}</span>
        </button>
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div *ngIf=" surveyedLocalTie == null ">
            No information available for {{ getItemName() }}
        </div>
        <div *ngIf="surveyedLocalTie != null" [ngClass]="{'container-dirty': surveyedLocalTie.dateDeleted}">
            <div class="form-group">
                <text-input [form]="itemGroup" controlName="tiedMarkerName">Tied Marker Name</text-input>
                <text-input [form]="itemGroup" controlName="tiedMarkerUsage">Tied Marker Usage</text-input>
                <text-input [form]="itemGroup" controlName="tiedMarkerCDPNumber">Tied Marker CDP Number</text-input>
                <text-input [form]="itemGroup" controlName="tiedMarkerDOMESNumber">Tied Marker DOMES Number</text-input>
                <div formGroupName="differentialComponent">
                    <number-input [form]="differentialComponentForm" controlName="dx" [required]="isDifferentialComponentRequired">dx (m)</number-input>
                    <number-input [form]="differentialComponentForm" controlName="dy" [required]="isDifferentialComponentRequired">dy (m)</number-input>
                    <number-input [form]="differentialComponentForm" controlName="dz" [required]="isDifferentialComponentRequired">dz (m)</number-input>
                </div>
                <number-input [form]="itemGroup" controlName="localSiteTiesAccuracy">Local Site Ties Accuracy (mm)</number-input>
                <text-input [form]="itemGroup" controlName="surveyMethod">Survey Method</text-input>
                <datetime-input [form]="itemGroup" controlName="startDate" [required]="isDifferentialComponentRequired">Date Measured (UTC)</datetime-input>
                <textarea-input [form]="itemGroup" controlName="notes" rows="2">Notes</textarea-input>
            </div>
        </div>
    </div>
</div>
