<div [formGroup]="siteLogForm" class="panel panel-level-1" [ngClass]="{'gnss-dirty': isFormDirty(), 'gnss-invalid': isFormInvalid()}">
    <div class="panel-heading">
      <span class="panel-title cursor-ptr"
            (click)="isGroupOpen = miscUtils.scrollIntoView($event, isGroupOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isGroupOpen, 'glyphicon-plus-sign': !isGroupOpen}">
            </i>
            {{getItemName()}}s
        </span>
        <span class="pull-right">
            <button class="btn btn-similar btn-xs" title="Add a new {{getItemName()}}"
                    (click)="addNew($event); miscUtils.showFullView($event);">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New <span class="hidden-xxs">{{getItemName()}}</span>
            </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isGroupOpen">
        <div *ngIf="isEmptyCollection()">
            No information available for Surveyed Local Ties
        </div>
        <div formArrayName="surveyedLocalTies">
        <div *ngFor="let surveyedLocalTie of getItemsCollection(); let i = index">
            <!-- [geodesyEvent] - send event to child components -->
            <!-- (open/close Above/Below Event) - receive events from child components -->
            <!-- (returnEvents) - single point to call events on parent -->
            <surveyed-local-tie-item [groupArray]="groupArrayForm"
                                  [surveyedLocalTie]="surveyedLocalTie"
                                     [formGroupName]="i"
                                  [total]="itemProperties.length"
                                  [index]="i"
                                  [geodesyEvent]="geodesyEvent"
                                  (returnEvents)="returnEvents($event)"></surveyed-local-tie-item>
        </div>
        </div>
    </div>
</div>
