<!-- Input: surveyedLocalTie (single) -->
<div class="panel panel-level-2">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr"
              (click)="isOpen = miscUtils.scrollIntoView($event, isOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
            </i>
            <span *ngIf="index == 0">
                <span class="hidden-xxs">Current </span>Surveyed Local Tie (Since {{ miscUtils.getDate(surveyedLocalTie.dateMeasured) }})
            </span>
            <span *ngIf="index != 0">
                <span class="hidden-xxs">Previous </span>Surveyed Local Tie ({{ miscUtils.getDate(surveyedLocalTie.dateMeasured) }}
            </span>
        </span>
        <span class="pull-right"> <!-- *ngIf="index == 0 && isNew" -->
          <button class="btn btn-danger btn-xs"
                  title="{{getRemoveOrDeletedText()}} the surveyed local tie"
                  (click)="removeItem(index)">
            <i class="glyphicon glyphicon-remove"></i>
            <span class="hidden-xs">{{getRemoveOrDeletedText()}}</span>
          </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="isOpen">
        <div *ngIf=" surveyedLocalTie == null ">
            No information available for Surveyed Local Ties
        </div>
        <div *ngIf=" surveyedLocalTie != null ">

            <text-input
                [name]="'surveyedLocalTieTiedMarkerName'"
                [(model)]="surveyedLocalTie.tiedMarkerName"
                [index]="[index]"
                [label]="'Tied Marker Name'"
                [maxlength]="100"
                [required]="true">
            </text-input>

            <text-input
                [name]="'surveyedLocalTieTiedMarkerUsage'"
                [(model)]="surveyedLocalTie.tiedMarkerUsage"
                [index]="[index]"
                [label]="'Tied Marker Usage'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'surveyedLocalTieTiedMarkerCDPNumber'"
                [(model)]="surveyedLocalTie.tiedMarkerCDPNumber"
                [index]="[index]"
                [label]="'Tied Marker CDP Number'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'surveyedLocalTieTiedMarkerDOMESNumber'"
                [(model)]="surveyedLocalTie.tiedMarkerDOMESNumber"
                [index]="[index]"
                [label]="'Tied Marker DOMES Number'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'dx'"
                [(model)]="surveyedLocalTie.dx"
                [index]="[index]"
                [label]="'dx (m)'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'dy'"
                [(model)]="surveyedLocalTie.dy"
                [index]="[index]"
                [label]="'dy (m)'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'dz'"
                [(model)]="surveyedLocalTie.dz"
                [index]="[index]"
                [label]="'dz (m)'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'surveyedLocalTieLocalSiteTiesAccuracy'"
                [(model)]="surveyedLocalTie.localSiteTiesAccuracy"
                [index]="[index]"
                [label]="'Local Site Ties Accuracy (mm)'"
                [maxlength]="100">
            </text-input>

            <text-input
                [name]="'surveyedLocalTieSurveyMethod'"
                [(model)]="surveyedLocalTie.surveyMethod"
                [index]="[index]"
                [label]="'Survey Method'"
                [maxlength]="100">
            </text-input>

            <datetime-input
                [(datetime)]="surveyedLocalTie.dateMeasured"
                [name]=" 'dateMeasured' "
                [index]="[index]"
                [required]="false"
                [label]="'Date Measured'">
            </datetime-input>

            <textarea-input
                [name]="'surveyedLocalTieNotes'"
                [(model)]="surveyedLocalTie.notes"
                [index]="[index]"
                [label]="'Notes'"
                [rows]="2"
                [maxlength]="2000">
            </textarea-input>
        </div>
    </div>
</div>
