<div class="panel panel-level-1">
    <div class="panel-heading">
        <span class="panel-title cursor-ptr" (click)="status.isSurveyedLocalTiesGroupOpen = !status.isSurveyedLocalTiesGroupOpen">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': status.isSurveyedLocalTiesGroupOpen, 'glyphicon-plus-sign': !status.isSurveyedLocalTiesGroupOpen}">
            </i>
            Surveyed Local Ties
        </span>
        <span class="pull-right">
            <button class="btn btn-similar btn-xs" title="Add a new Surveyed Local Tie as current one"
                    [disabled]="status.hasNewSurveyedLocalTie" (click)="addNewSurveyedLocalTie()">
            <i class="glyphicon glyphicon-plus-sign"></i>
            New Surveyed Local Tie
            </button>
        </span>
    </div>
    <div class="panel-body" *ngIf="status.isSurveyedLocalTiesGroupOpen">
        <div *ngIf="surveyedLocalTies == null || surveyedLocalTies.length == 0 ">
            No information available for Surveyed Local Ties
        </div>
        <div *ngFor="let surveyedLocalTie of surveyedLocalTies; let i = index">
            <div class="panel panel-level-2">
                <div class="panel-heading">
                    <span class="panel-sub-title cursor-ptr"
                          (click)="status.isSurveyedLocalTiesOpen[i] = !status.isSurveyedLocalTiesOpen[i]">
                      <i class="glyphicon"
                         [ngClass]="{'glyphicon-minus-sign': status.isSurveyedLocalTiesOpen[i], 'glyphicon-plus-sign': !status.isSurveyedLocalTiesOpen[i]}"></i>
                    </span>
                     <span *ngIf="i == 0">
                        Current Surveyed Local Tie (Since {{ getDate(surveyedLocalTie.dateMeasured.value[0]) }})
                     </span>
                     <span *ngIf="i != 0">
                        Previous Surveyed Local Tie ({{ getDate(surveyedLocalTie.dateMeasured.value[0]) }})
                    </span>
                    <span class="pull-right">
                      <button class="btn btn-danger btn-xs" title="Remove the Surveyed Local Tie"
                              (click)="removeNewSurveyedLocalTies()">
                        <i class="glyphicon glyphicon-remove"></i>
                        Remove
                      </button>
                    </span>
                </div>
                <div class="panel-body" *ngIf="status.isSurveyedLocalTiesOpen[i]">
                    <div *ngIf=" surveyedLocalTie == null ">
                        No information available for current Surveyed Local Tie
                    </div>
                    <div *ngIf=" surveyedLocalTie != null ">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Tied Marker Name</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input required type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.tiedMarkerName"
                                       name="tiedMarkerName_{{i}}"
                                       #tiedMarkerName="ngModel"/>
                                 <small [hidden]="tiedMarkerName.valid || tiedMarkerName.pristine"
                         			class="alert alert-danger">
                    				"Tied Marker Name" is required       
                    			 </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Tied Marker Usage</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.tiedMarkerUsage"
                                       name="tiedMarkerUsage_{{i}}"
                                       #tiedMarkerUsage="ngModel"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Tied Marker CDP Number</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.tiedMarkerCDPNumber"
                                       name="tiedMarkerCDPNumber_{{i}}"
                                       #tiedMarkerCDPNumber="ngModel"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Tied Marker DOMES Number</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.tiedMarkerDOMESNumber"
                                       name="tiedMarkerDOMESNumber_{{i}}"
                                       #tiedMarkerDOMESNumber="ngModel"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">dx (m)</label>                            
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.differentialComponentsGNSSMarkerToTiedMonumentITRS.dx"
                                       name="differentialComponentsGNSSMarkerToTiedMonumentITRS.dx_{{i}}"
                                       #differentialComponentsGNSSMarkerToTiedMonumentITRS.dx="ngModel"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">dy (m)</label>                            
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.differentialComponentsGNSSMarkerToTiedMonumentITRS.dy"
                                       name="differentialComponentsGNSSMarkerToTiedMonumentITRS.dy_{{i}}"
                                       #differentialComponentsGNSSMarkerToTiedMonumentITRS.dx="ngModel"/>
                            </div>
                        </div>
	                    <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">dz (m)</label>                            
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.differentialComponentsGNSSMarkerToTiedMonumentITRS.dz"
                                       name="differentialComponentsGNSSMarkerToTiedMonumentITRS.dz_{{i}}"
                                       #differentialComponentsGNSSMarkerToTiedMonumentITRS.dx="ngModel"/>
                         </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Local Site Ties Accuracy (mm)</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.localSiteTiesAccuracy"
                                       name="localSiteTiesAccuracy_{{i}}"
                                       #localSiteTiesAccuracy="ngModel"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Survey Method</label>
                            <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                <input type="text" maxlength="100" class="form-control"
                                       [(ngModel)]="surveyedLocalTie.surveyMethod"
                                       name="surveyMethod_{{i}}"
                                       #surveyMethod="ngModel"/>
                            </div>
                        </div>
                       	<div class="form-group">
                       		<label
                       			class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">
                       			Date Measured
                       		</label>
                       		<div
                       			class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                       			<datetime-picker
                       				[(datetime)]="surveyedLocalTie.dateMeasured.value[0]"
                       				[name]=" 'dateMeasured' "
                       				[required]="false">
                       			</datetime-picker>
                       		</div>
                       	</div>
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label">Notes</label>
                            <div class="col-md-8 col-sm-8 col-xs-7 col-xxs-12">
                                <textarea maxlength="2000" rows="2" class="form-textarea"
                                [(ngModel)]="surveyedLocalTie.notes"
                                name="surveyedLocalTieNotes_{{i}}"></textarea>
                            </div>
                        </div>                                                                                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
