<div class="container centered clear-pad">
  <div class="panel-group">
    <div class="panel panel-level-1">
      <div class="panel-heading">
      <span class="panel-title">
        About GNSS Site Manager
      </span>
      </div>
      <div class="panel-body text">
        <p>
          The GNSS site manager application has been developed by Geoscience Australia to view and edit GNSS site
          metadata.
        </p>
        <br>
        <p>
          All site information is publicly available, however, edit access is restricted to site owners and site
          metadata custodians. To apply for edit access complete the <a href="#" [routerLink]="['/userRegistration']">registration form</a>.
          To provide information about metadata errors or provide feedback, please email
          <a class="ng-binding" title="Send feedback" href="mailto:geodesy@ga.gov.au">
            geodesy@ga.gov.au</a> and include your name, position and institutional affiliation.
        </p>
        <br>
        <p>
          Regards,
        </p>
        <br>
        <p>
          Geoscience Australia <a href="http://www.ga.gov.au">GNSS Operations Team</a>
        </p>
      </div>
    </div>
  </div>
</div>
