:host {
  background-color: #fff;
  display: block;
  float: none;
  height: 75px;
  max-height: 75px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header-container {
  background-color: #fff;
  color: #2f2f2f;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  max-height: 70px;
  padding: 0;
}
.right-panel {
  float: right;
  padding: 17px 0;
}
.title {
  display: inline;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.1px;
  margin-left: 15px;
  vertical-align: middle;
}
#ga-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}
img.logo-inline {
  height: 69px;
  width: 235px;
}
img.logo-stacked {
  height: 69px;
  width: 100px;
}
.menu-btn {
  background-color: transparent;
  border-color: #2f2f2f;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.0;
  margin-left: 10px !important;
  margin-right: 4px;
  padding: 4px 10px 1px;
}
.menu-btn:hover,
.menu-btn:focus,
.small-btn:hover,
.small-btn:focus,
.wrap-btn:hover,
.wrap-btn:focus {
  color: #006983;
  border-color: #006983;
}
.small-btn {
  background-color: transparent;
  border-color: #2f2f2f;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-left: 10px;
  margin-top: 0;
  padding: 4px 8px;
}
.wrap-btn {
  background-color: transparent;
  border-color: #2f2f2f;
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 3px 6px;
  margin-top: 4px;
}
.id-label {
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
}
.btn-label {
  font-size: 15px;
  font-weight: normal;
  margin-right: 0;
}
.menu-label {
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  line-height: 2.5;
  margin-left: 0;
}
.dropdown-icon {
  font-size: 10px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #e5f5e0;
  color: #2a2aff;
  cursor: pointer;
}
.dropdown-menu {
  min-width: 140px;
  border-color: #00441b;
  font-size: 15px;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  margin-bottom: 5px;
}

/* A horizontal strap just right below the header */
.strap-container {
  display: table;
  height: 5px;
  margin: 0;
  min-height: 5px;
  padding: 0;
  width: 100%;
}
.strap-blue, .strap-white, .strap-red {
  height: 5px;
  margin: 0;
}
.strap-blue {
  background-color: #72c7e7;
  float: left;
  width: 88%;
}
.strap-white {
  background-color: #fff;
  float: left;
  width: 3px;
}
.strap-red {
  background-color: #a33f1f;
}

@media (max-width: 1180px) AND (min-width: 991px){
  .menu-label {
    margin-right: 5px;
  }
}

@media (max-width: 990px) {
  .title {
    font-size: 22px;
    letter-spacing: 0;
    margin-left: 10px;
  }
  .menu-btn {
    border-color: transparent;
    margin-left: 10px !important;
    margin-right: 0;
  }
}

/* Special CSS classes defined for small devices such as smart phone (landscape) */
@media (max-width: 767px) {
  .header-container {
    padding: 18px 10px;
  }
  .right-panel {
    padding: 0;
  }
  .title {
    font-size: 20px;
    line-height: 2.0;
    margin-left: 0;
  }
  .menu-btn {
    border-color: transparent;
    margin-left: -5px !important;
    padding: 3px 6px 3px;
  }
  .menu-label {
    line-height: 2.2;
    margin-left: 10px;
    margin-right: 10px;
  }
  .small-btn {
    font-weight: 300;
  }
  .visible-xs {
    display: inline-block !important;
  }
}

/* Special CSS classes defined for small devices such as smart phone (portrait) */
@media (max-width: 480px) {
  .header-container {
    padding: 18px 5px;
  }
  .title {
    display: inline-block;
    font-size: 19px;
    line-height: 1.2;
    margin: -18px 0 -18px 10px;
    width: 100px;
  }
  .menu-btn {
    border: 0;
    font-size: 22px;
    line-height: 1.2;
    margin-left: 0 !important;
    margin-top: 6px;
    padding: 0;
  }
  .menu-label {
    line-height: 2.0;
    margin-right: 5px;
  }
  .small-btn {
    font-size: 15px !important;
    font-weight: 200;
  }
}
@media (max-width: 365px) {
  .title {
    display: inline-block;
    font-size: 18px;
    line-height: 1.1;
    margin: -12px 0 0 5px;
    width: 75px;
  }
  .menu-btn {
    margin-top: -6px;
    padding: 0;
  }
  .small-btn {
    margin-left: 5px;
    padding: 4px;
  }
}
