<div>
  <span class="btn-group pull-left" dropdown >
    <button id="menu-button" type="button" class="btn menu-btn" dropdownToggle>
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </button>
    <ul dropdownMenu role="menu" aria-labelledby="menu-button">
      <li role="menuitem"><a [routerLink]="['/']">Select Site</a></li>
      <li role="menuitem"><a [routerLink]="['/about']">About</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a (click)="clearCache()">Update Application</a></li>
    </ul>
  </span>
  <span class="title">GNSS Site Manager</span>
  <span class="pull-right" *ngIf="globalService.selectedSiteId">
    <button class="btn save-btn" type="submit" (click)="save()"
      [disabled]="!hasFormChanged()" title="Save changes">Save
    </button>
    <span class="id-label">{{globalService.selectedSiteId}}</span>
  </span>
</div>
