<div>
  <span class="btn-group pull-left" dropdown >
    <button id="nemu-button" type="button" class="btn btn-info" dropdownToggle>
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </button>
    <ul dropdownMenu role="menu" aria-labelledby="menu-button">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/']">Select Site</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/about']">About</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a (click)="clearCache()">Update Site</a></li>
    </ul>
  </span>
  <span class="margin10"><h1>GNSS Site Manager</h1></span>
  <span class="pull-right"><h5>{{globalService.selectedSiteId}}</h5></span>
</div>
