:host {
  background-color: #fff;
  display: block;
  float: none;
  height: 75px;
  max-height: 75px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header-container {
  background-color: #fff;
  color: #2f2f2f;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  max-height: 70px;
  padding: 0;
}
.title {
  display: inline;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.1px;
  margin-left: 15px;
  vertical-align: middle;
}
#ga-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
}
img.logo-inline {
  height: 69px;
  width: 235px;
}
img.logo-stacked {
  height: 69px;
  width: 100px;
}
.dropdown-menu-panel {
  display: inline-block;
  float: right;
  padding: 15px 0;
}
.site-id-menu,
.profile-menu,
.navigation-menu {
  background-color: transparent;
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  display: inline;
  font-size: 15px;
  line-height: 2.95;
  margin: 0 5px;
  vertical-align: middle;
}
.site-id-menu {
  padding: 5px 8px;
}
.profile-menu {
  padding: 5px 10px;
}
.navigation-menu {
  font-size: 24px;
  height: 36px;
  line-height: 1.9;
  padding: 0 12px;
}
#navigation-dropdown-menu {
  top: -1px;
}
.navigation-menu .glyphicon-menu-hamburger {
  top: 4px !important;
}
.navigation-menu:hover,
.navigation-menu:focus,
.site-id-menu:hover,
.site-id-menu:focus,
.profile-menu:hover,
.profile-menu:focus {
  cursor: pointer;
  color: #006983;
  border-color: #006983;
  background-color: #e5f5e0;
}
.site-id-menu-label {
  font-size: 15px;
  font-weight: normal;
  margin-right: 0;
}
.dropdown-icon {
  font-size: 10px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #e5f5e0;
  color: #2a2aff;
  cursor: pointer;
}
.dropdown-menu {
  min-width: 140px;
  border-color: #00441b;
  font-size: 15px;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  margin-bottom: 5px;
}
#profile-dropdown-menu > ul {
  margin: 15px 5px 0 0;
}
.dim-icon {
  color: #a2a2a2;
}

/* A horizontal strap just right below the header */
.strap-container {
  display: table;
  height: 5px;
  margin: 0;
  min-height: 5px;
  padding: 0;
  width: 100%;
}
.strap-blue, .strap-white, .strap-red {
  height: 5px;
  margin: 0;
}
.strap-blue {
  background-color: #72c7e7;
  float: left;
  width: 88%;
}
.strap-white {
  background-color: #fff;
  float: left;
  width: 3px;
}
.strap-red {
  background-color: #a33f1f;
}

@media (max-width: 990px) {
  .title {
    font-size: 22px;
    letter-spacing: 0;
    margin-left: 10px;
  }
}

/* Special CSS classes defined for small devices such as smart phone (landscape) */
@media (max-width: 767px) {
  .header-container {
    padding: 10px 10px 0 0;
  }
  #ga-logo {
    margin-top: -10px;
  }
  .title {
    font-size: 20px;
    line-height: 2.0;
    margin-left: 0;
  }
  .dropdown-menu-panel {
    padding: 2px 0;
  }
  .visible-xs {
    display: inline-block !important;
  }
}

/* Special CSS classes defined for small devices such as smart phone (portrait) */
@media (max-width: 500px) {
  .header-container {
    padding: 15px 5px 0 0;
  }
  #ga-logo {
    margin-top: -15px;
  }
  .title {
    display: inline-block;
    font-size: 19px;
    line-height: 1.2;
    margin: -18px 0 -18px 10px;
    width: 100px;
  }
  .dropdown-menu-panel {
    margin-top: -2px;
  }
  .site-id-menu,
  .profile-menu,
  .navigation-menu {
    margin: 0 2px 0 0;
  }
}
@media (max-width: 420px) {
  .header-container {
    padding: 10px 5px 0 0;
  }
  .dropdown-menu-panel {
    margin-top: 0;
  }
  .title {
    display: inline-block;
    font-size: 17px;
    line-height: 1.1;
    margin: -5px 0 0 0;
    width: 70px;
  }
}
@media (max-width: 355px) {
  #ga-logo {
    display: none;
  }
  .title {
    margin-left: 10px;
  }
}
