<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
  <div id="error"></div>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= NPM_BASE %>oidc-client/lib/oidc-client.js"></script>
  <% } %>
    <script>
        if (window.location.href.indexOf('?silent') != -1) {
            new UserManager().signinSilentCallback().catch(function (err) {
                window.location.href = "/";
            });
        } else if (window.location.href.indexOf('?popup') != -1) {
            new UserManager().signinPopupCallback()
            .catch(function (err) {
                window.location.href = "/";
            });
        } else {
            new UserManager().signinRedirectCallback().then(function (user) {
                window.location = localStorage.getItem('routerUrl');
            })
            .catch(function (err) {
                alert("Welcome! you need choose 'Login' after your registeration");
                window.location.href = "/";
            });
        }
    </script>
</body>
</html>
