<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="GNSS Site Manager is a web application developed by Geoscience Australia for
     viewing/editing GNSS site metadata. It can not only work on a wide range of devices, such as PCs, laptops, tablets,
     and mobile phones, but also work in remote areas when no internet access available.">
  <meta name="viewport" content="width=device-width, height=100%, initial-scale=1, maximum-scale=2.5, user-scalable=no">
  <!-- inject:css -->
  <!-- endinject -->
  <link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>

  <sd-app>
    <div class="loading-text">Loading...</div>
    <div class="loading-img"></div>
  </sd-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      throw new Error(e);
//      console.error(e,
//        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

  <!-- TODO: Disable service worker for now -->
  <!-- <script src="js/setup&#45;service&#45;worker.js"></script> -->
</body>
</html>
